{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}

{% block title %}Développement Économique{% endblock %}
{% block meta-description %}Développement Économique en Val d'Yerres Val de Seine, «Entreprendre entre Yerres et Seine».{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}
    <div class="container">

        <div class="row-fluid">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li class="active">
                        Les membres du club d'entreprise
                    <li>
                </ul>
            </div>

            <div class="col-md-8">

                <h1><a href="{% url 'homedeveco' %}">Liste des membres du club «Entreprendre entre Yerres et Seine»</a>
                </h1>
            </div>

            <div class="col-md-4">

                <script>
                    (function () {
                        var cx = '009448632773803032568:owwdrkixkha';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>

            </div>


            <div class="col-md-12">

                <br/>
                {% for entreprise in entreprises %}
                    <div class="row bkgd-white">
                        <div class="col-md-2">
                            <a href="{% url 'entreprise' slug=entreprise.slug %}">
                            <img width="150" height="200" class="img-responsive"
                                 src="{{ entreprise.image|resize:'200x150x1' }}">
                                </a>
                        </div>
                        <div class="col-md-8">

                            <h2>
                                <a href="{% url 'entreprise' slug=entreprise.slug %}">{{ entreprise.nom }}</a>
                            </h2>

                            <p>
                                {{ page.contenu|resume:200|safe }}
                            </p>

                            <p>
                                <a class="btn btn-primary"
                                   href="{% url 'entreprise' slug=entreprise.slug %}">Lire la
                                    suite</a>
                            </p>
                        </div>
                    </div>
                    <br/>

                    <br/>
                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}

{% block jsload %}

    {% include "include/jquery-bootstrap.html" %}

{% endblock %}