
<!DOCTYPE html>
<html lang="fr" >
<head>
	<title>Le Val d'Yerres</title>
	<meta charset="utf-8">
	<meta name="description" content="{% block meta-description %}{% endblock %}" />
	{% block import%}
	 <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	 <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

</head>

<body>
	
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" >
          <a class="brand" href="#"><img alt="logo" width="35px" height="35px" src="/static/img/Y-val-d-yerres.png">Le Val d'Yerres</a>
            {% block menu %}{% endblock %}
        </div>
      </div>
    </div>
	

{% block contenu %}{% endblock %}
	
{%block jsload%}{% endblock %}
</body>
</html>