<!DOCTYPE html>
<html lang="fr" >
	<head>
    	<!-- {% now "jS F Y H:i:s" %} -->
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %} - Le Val d'Yerres</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block meta-description %}{% endblock %}" />
		<link rel="shortcut icon" href="/static/img/cavy_favicon.ico" type="image/x-icon" />
		{% block import%}

		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/bootstrap/css/custom.css" rel="stylesheet">

		{% endblock %}

	</head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">menu</a>
					<a class="brand" href="/"><img alt="logo" width="30" height="30" src="/static/img/Y-val-d-yerres.png"></a>
					<div class="nav-collapse collapse">
						{% block menu %}{% endblock %}
					</div>
				</div>
			</div>
		</div>

		{% block contenu %}{% endblock %}

		<div id ="footer" class="footer">

			<div class="wrap">
				<div class="container">
					<div class="row">
						<div class="span3">
							<h3>Le Val d'Yerres</h3>
							<hr/>
							<ul>
								<li>
									<a href="/ephemeride/aujourd-hui.html">Aujourd'hui</a>
								</li>
								<li>
									<a href="/agenda/">L'agenda</a>
								</li>
								<li>
									<a href="/equipements/">Les équipements</a>
								</li>
								<li>
									<a href="/annoncesemploi/">Emploi</a>
								</li>
								<li>
									<a href="/services/developpement-economique/">Développement économique</a>
								</li>
								<li>
									<a href="/services/transports/">Transports</a>
								</li>
							</ul>

						</div>
						<div class="span3">
							<h3>Les villes</h3>
							<hr/>
							<ul>
								<li>
									<a href="/page/boussy-saint-antoine.html">Boussy-Saint-Antoine</a>
								</li>
								<li>
									<a href="/page/brunoy.html">Brunoy</a>
								</li>
								<li>
									<a href="/page/crosne.html">Crosne</a>
								</li>
								<li>
									<a href="/page/epinay-sous-senart.html">Epinay-sous-Sénart</a>
								</li>
								<li>
									<a href="/page/quincy-sous-senart.html">Quincy-sous-Sénart</a>
								</li>
								<li>
									<a href="/page/yerres.html">Yerres</a>
								</li>
							</ul>

						</div>
						<div class="span3">
							<h3>Réseaux sociaux</h3>
							<hr/>
							<table>
								<tr>
									<td><a href="http://www.facebook.com/pages/Communaute-dAgglomeration-du-Val-dYerres/171201942911202?v=wall"><img alt="facebook" src="/static/img/reseaux-sociaux/facebook.png">
									<br/>
									facebook</a></td>
									<td><a href="https://twitter.com/ValdYerres"><img alt="twitter" src="/static/img/reseaux-sociaux/twitter.png">
									<br/>
									twitter</a></td>
									<td><a href="https://plus.google.com/114943711039529183405" rel="author"><img alt="google plus" src="/static/img/reseaux-sociaux/google-plus.png">
									<br/>
									google+</a></td>
								</tr>
							</table>

						</div>
						<div class="span3">
							<h3>Contact</h3>
							<hr/>
							<address>
								

									<strong><a href="http://www.levaldyerres.fr">Le Val d'Yerres
										<br/>
										Communauté d'Agglomération</a></strong>
									<br>
									<div>
										<span>78 Route Nationale 6-BP 103</span>
										<br>
										<span>91800</span> <span>Brunoy</span>
										<br>
										<span><abbr title="Téléphone">Tel</abbr>: <span>01 60 47 94 20</span></span>
										<br/>
										<span><abbr title="Télécopie">Fax</abbr>:  01 60 47 94 39</span>
										<br>

									</div>
								
							</address>

						</div>
						<p style="text-align: right">
							<a href="/page/mentions-legales.html">Mentions légales</a> - <a href="/page/marches-publics.html">Marchés publics</a> - <a href="/services/ressources-humaines/">Recrutements</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		{%block jsload%}{% endblock %}
		{%block mapload%}{% endblock %}
		<script type="text/javascript">
			<!--//--><![CDATA[//><!--
			var _gaq = _gaq || [];
			_gaq.push(["_setAccount", "UA-21263245-1"]);
			_gaq.push(["_trackPageview"]);
			(function() {
				var ga = document.createElement("script");
				ga.type = "text/javascript";
				ga.async = true;
				ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(ga, s);
			})();
			//--><!]]>
		</script>
	</body>
<!-- {% now "jS F Y H:i:s" %} -->
</html>