{% load filtres %}
{% load aidefilters %}
{% load cinemasfilters %}
{% load menufilters %}
{% load tz %}

<div class="modal-header">

	<a class="close" data-dismiss="modal">&times;</a>

	<h3>{{seance.film.titre}}.{%if seance.format %} ({{seance.format}}){%endif%}{%if seance.version_vo %}{%ifnotequal seance.version_lang "Français" %} en VO ({{seance.version_lang}}){%endifnotequal%}{%endif%}
	<br/>
	<small>Au cinéma <a href="{% url cinemas.views.CinemaLieu cinema_slug=seance.cinema.slug %}">«{{seance.cinema.nom}}»</a>, {{seance.date_debut.date|queljour|safe}} de {{seance.date_debut|quelleheure}} à {{seance.date_fin|quelleheure}}.<br/>
		
	</small>
	
	</h3>

</div>

<div class="modal-body">
	<div class="row-fluid">
		
			<p style="text-align: center">
			<span style="float: right" >Ajouter cette séance à votre agenda: <br/>(Format QR Code) : <br/><img  alt="QrCode: {{ seance.film.titre }}" src="data:image/png;base64,{{ qr_code_calendar }}"/></span>
			
			{{seance|seanceaddlinklist|safe}}
			
			</p>    
		
		
	</div>

</div>

<div class="modal-footer">
	<a class="btn" data-dismiss="modal">Fermer</a>
</div>

