{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load hoursfilters%}
{% load tz %}
	
	{% block title %} {{entreprise.nom}}{% endblock %}
	{% block meta-description %}{{ entreprise.nom }}, {{entreprise.meta_description}}, {% if evenements %}événements à venir: {% for item in evenements|slice:":4" %} {{item.type.nom}} «{{item.nom}}»{% if forloop.last%}. {% else %}, {%endif%}{% endfor %}{% endif %}{{ entreprise.fonction.nom }}, {{entreprise.ville.nom }}.{% endblock %}
	
	{% block menu %}{% getmenu %}{% endblock %}
	
	
	


{% block contenu %}	
<div itemscope itemtype="http://schema.org/Place" class="container" style="margin-top:60px;">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a><span class="divider">/</span>
				</li>
				<li>
					<a href="{% url 'deveco.views.home' %}">Les membres du club d'entreprise</a><span class="divider">/</span>
				</li>
				<li class="active">
					{{ entreprise.nom}} , {{entreprise.ville.nom }}
				</li>
			</ul>
		</div>
		<div class="span7" >
            <div class="row">
            <div class="span3">{% if entreprise.image %}
			<img class="img-polaroid-fix"  alt="{{ entreprise.nom }}" src="{{ entreprise.image|resize:'130x100x1' }}">
			{% endif %}</div>
            <div class="span8">
			<h1><a itemprop="url" href="{% url 'deveco.views.entreprise' slug=entreprise.slug %}"><span itemprop="name">{{ entreprise.nom }}</span></a></h1>
                {{ entreprise.presentation|safe }}
            </div>
            </div>

        {% for dirigeant in dirigeants %}
            <div class="row">
             <div class="span3">
             </div>
                <div class="span8">
                    <hr>

            <h3>{{ dirigeant.prenom }} {{ dirigeant.nom }}</h3>
            <img style="float:right; margin-left:20px;margin-bottom: 20px; " alt="{{ dirigeant.nom }} {{ dirigeant.prenom }}" src="{{ dirigeant.image|resize:'130x100x1' }}">
            {{ dirigeant.presentation|safe }}
                </div>
            </div>
        {% endfor %}


		</div>
		<div class="span4">

			<br/>
			
			<address>
				<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<strong>{{ entreprise.nom }}</strong>
					<br/>
					<span>{{ entreprise.rue }}</span>
					<br/>
					<span>{{ entreprise.ville.code_postal }}</span> <span itemprop="addressLocality">{{ entreprise.ville.nom }}</span>
					<br/>
					{% if entreprise.telephone %}
					<span><abbr title="Téléphone">Tel</abbr>: {{ entreprise.telephone }}</span>
					<br/>
					{% endif %}

					{% if entreprise.email %}
					<p>
						Courriel : <a href="mailto:{{ entreprise.email }}">{{ entreprise.email }}</a>
					</p>
					{% endif %}
					{% if entreprise.site_internet %}
					<p>
						Site Web : <a href="{{entreprise.site_internet}}">{{entreprise.site_internet}}</a>
					</p>
					{% endif %}
				</div>
			</address>
			<hr/>
			<div style="text-align: center;">
				<a class="btn btn-primary" href="{% url 'deveco.views.entreprisevcard' slug=entreprise.slug %}">Ajouter cette entreprise à vos contacts <b>(Vcard)</b></a>
				<br \><br \>
				{{"vcard"|aide}}
			</div>
			<hr class="hidden-phone" />
			<div class="hidden-phone" style="text-align: center;">

				Ajouter cette entreprise à vos contacts
				<br/>
				(Format QR Code) :
				<br/>
				<img alt="QrCode : code QR de : {{ entreprise.nom }}" src="data:image/png;base64,{{ qr_code_vcard }}"/>
				{{"qr-code"|aide}}
			</div>
			<hr \>
			<div style="text-align: right;">
				{% if alerte %}
					{% include 'entreprises/alertes/widget-with-js.html' %}
				{% endif %}
			</div>

		</div>

	</div>
	
	{% if horaires %}
	<div class="row-fluid">
		<div class="span7">
			<hr/>
			<h2>Horaires:</h2>
			<h3>Aujourd'hui :</h3>
			<table class="table table-striped" align="center">
				<tr>
					<td><b>{%nom_jour_aujourdhui%}</b></td>
					<td>
						<ul>
							{% for horaire in horaires %}
								<li>{{horaire.nom}} : <b>{{horaire|horaires_aujourdhui}}</b></li>
							{%endfor%}
						</ul>
					</td>
				</tr>
			</table>
			<h3>Les 7 prochains jours : </h3>
			<table class="table table-striped" align="center">
	    		<thead>
    				<tr>
      					<th>Jour</th>
      					<th>Horaire</th>
      					    				</tr>
  				</thead>
			
				{% for horaires in horaires_plus_7 %}
					<tr>
					<td><b>{{forloop.counter|nom_jour_index}}</b></td>
					<td>
						<ul>
					{% for horaire in horaires %}
					<li>{{horaire.nom}} : <b>{{forloop.parentloop.counter|horaire_journee_timedelta:horaire}}</b></li>
					{% endfor %}
						</ul>
					</td>
					</tr>
				{% endfor %}
			</table>
				
				
			
			<br/>
			<p>
				<a href="{% url 'entreprises.views.entrepriseHoraires' entreprise_slug=entreprise.slug%}">Voir tous les horaires et toutes les périodes</a>
			</p>
		</div>
	</div>
	{%endif%}
	{% if tarifs_principaux %}
	<div class="row-fluid">
		<div class="span7">
			<hr/>
			<h2>Principaux tarifs : </h2>
			<table class="table table-striped" align="center">
	    		<thead>
    				<tr>
      					<th></th>
      					<th>Résidents</th>
      					<th>Non-Résidents</th>
    				</tr>
  				</thead>
  			{% for item in tarifs_principaux %}
  				<tr>
  				<td>{{item.designation}}<br/><small>{{item.info_additionelle}}</small></td>
  				<td>{{item.prix_residents|monnaie}}</td>
  				<td>{{item.prix_non_residents|monnaie}}</td>
  				</tr>
  			{% endfor %}
  			</table>
			<br/>
			<p>
				<a href="{% url 'entreprises.views.entrepriseFonctionTarifs' entreprise_fonction_slug=entreprise.fonction.slug %}">Voir tous les tarifs</a>
			</p>
		</div>
		
	</div>
	
	{% endif %}
	{% if evenements %}
	<div class="row-fluid">
		<div class="span7">
			<hr/>
			<h2>Les prochains événements:</h2>
			
				{% regroup evenements by monthyeardebut as eventlist %}
				
				{% for eventmonth in eventlist %}
					<table class=" table table-striped">
					<thead><tr><th>{{eventmonth.grouper|grouperToString}}</th></tr></thead>	
					
					{% for each in eventmonth.list %}
					
					<tr itemscope itemtype="http://schema.org/Event">
						<td>{{ each.type.nom }} : &laquo;
						<a itemprop="url" href="{% url 'evenements.views.EvenementDetailsHtml' slug=each.cadre_evenement.slug evenement_slug=each.slug %}"><span itemprop="name" >{{ each.nom }}</span></a>&raquo;
						</td> 
						<td style="text-align:right;">
						<time itemprop="startDate" datetime=“{{each.debut|dateSEO}}”>
						{{ each.debut|dateCustom:each.fin }}
						</time>
						</td>
					</tr>
				{% endfor %}
					</table>
				{% endfor %}
			

		</div>
	</div>
	{% endif %}
	
	{% if facilites %}
	<div class="row-fluid">
		<div class="span7">
			<hr/>
			<h2>Dans cet équipement:</h2>
			<ul>
				{% for facilite in facilites.facilites.all %}
				<li style="margin-top:5px;list-style: none;"><img alt="{{ facilite.nom }}"	title="{{ facilite.nom }}" src="/media/{{ facilite.picto }}"> {{ facilite.nom }}
				{% if facilite.importance < 10 %}
				(<a href="{% url 'entreprises.views.FaciliteCarte' slug=facilite.slug %}">Voir tous</a>)
				{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% endif %}
	
	<div class="row-fluid">

		<div class="span7">
			<hr/>
			<h2>Géolocalisation: <br/><small>{{entreprise.rue}}, {{entreprise.ville.code_postal}} {{entreprise.ville.nom}}</small></h2>

			<div id="map_canvas" style="text-align:center;margin-left:auto;margin-right:auto;"></div>

		</div>
		<div style="text-align:center;" class="span4" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
			<hr/>
			<p>
				 Les coordonnées GPS : 
				 <br/>
				Latitude : {{entreprise.latitude}}
				<br/>
				Longitude : {{entreprise.longitude}}
			</p>
			<meta itemprop="latitude" content="{{entreprise.latitude}}" />
			<meta itemprop="longitude" content="{{entreprise.longitude}}" />
			<hr/>
			<p class="hidden-phone" style="text-align: center;">
				 Les coordonnées GPS :
				<br/>
				(Format QR Code)
				<br/>
				<img alt="QrCode : {{ each.nom }}" src="data:image/png;base64,{{ qr_code_geo }}"/>
			</p>
			<p>	
				<ul style="list-style:none;">
				<li><a class="btn btn-primary" href="http://www.openstreetmap.org/index.html?mlat={{entreprise.latitude|toFloatjs}}&mlon={{entreprise.longitude|toFloatjs}}&zoom=18"> Voir l'emplacement sur OpenstreetMap</a></li>
				<li>&nbsp;</li>
				<li><a class="btn btn-primary" href="http://maps.google.com/?q={{entreprise.latitude|toFloatjs}},{{entreprise.longitude|toFloatjs}}&z=19"> Voir l'emplacement sur Google Maps</a></li>
				</ul>
			</p>
		</div>

	</div>
	

</div>


</div>
{% endblock %}

	{% block jsload%}
	{% include "include/jquery-bootstrap.html" %}
    {% include "include/alertes.html" %}

	<script>
			function LoadMap() 
			{
					var tabentreprise = Array();
					var myMarker = Object(); 
				    myMarker['longitude'] ={{entreprise.longitude|toFloatjs}}; 
					myMarker['latitude'] ={{entreprise.latitude|toFloatjs}}; 
					myMarker['description'] = '{{entreprise.nom}}';
					myMarker['marker'] ='uploads/picto/equipements/lieu.png';
					tabentreprise.push(myMarker);
					setMarkers(tabentreprise);
					map_init();
			}
			
			$(window).resize(function () {
    			var h = $('#map_canvas').parent().width();
    			$('#map_canvas').css('height', (h));
    			$('#map_canvas').css('width', (h));
				}).resize();		


			$(document).ready(function() 
			{
				if (getXMLHttpRequest() != null && document.getElementById('lienAjax') && document.getElementById('lienPost'))
				{
					document.getElementById('lienAjax').style.display = "";
					document.getElementById('lienPost').style.display = "none";
					
					setCSRFToken();
				}
			}); 
		</script>
        {% include "include/maps-ressources.html" %}


	{% endblock %}