{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}Lettre d'informations du Val d'Yerres{% endblock %}
{% block meta-description %}Lettre d'informations du Val d'Yerres{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}
<div class="container" style="margin-top:60px;">
<div  class="row-fluid">
	<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Retourner à l'accueil du site</a><span class="divider">/</span>
				</li>
			</ul>
	</div>
			<div class="span7">
				<h1>Lettre d'informations</h1>
				<p>
					<form method="post" action="/mail/mailjet-post.html" id="mailJetForm"><input type="hidden" name="csrftoken" value="{{ token }}">
						<label for="mail">Votre courriel :</label>
						<input type="email" name="email" id="mail"><br \>
						<input id="mailPost" type="submit" class="btn btn-primary" value="S'abonner">
					</form>
				</p>
			</div>
</div>
</div>

{% endblock%}

{% block jsload%}
	{% include "include/jquery-bootstrap.html" %}

{% endblock%}