<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Newsletter </title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="144"><a href="http://yourlink" target="_blank"><img
                                        src="images/cavy_logo.png" width="200" height="98" border="0" alt=""/></a></td>
                                <td width="393" align="center"
                                    style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:14px; text-transform:uppercase">
                                   CEC Yerres - Médiathèque Danielle Bianu<br>
                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#7bb40f; font-size:16px; font-weight: bold; line-height:22px"> Lettre d'information</font>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center"><a href="http://yourlink" target="_blank"><img src="images/bib-yerres.jpg"
                                                                                      alt="" width="598" height="260"
                                                                                      border="0"/></a></td>
                </tr>

                <tr>
                    <td height="10" bgcolor="7cb544"></td>
                </tr>
                <tr height="10">

                </tr>


                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="5%">&nbsp;</td>
                                <td width="90%" align="left" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="100%">
                                                            <table width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td height="10"
                                                                                    style="border-top:1px solid #d0d1d3;border-bottom:1px solid #d0d1d3; font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><em> Pour les enfants</em></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>

                                                                                <td width="20%"
                                                                                    style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:14px;">
                                                                                    Samedi 9 Mai <br>16h -17h30
                                                                                </td>

                                                                                <td width="50%" align="left"
                                                                                    valign="top"><font
                                                                                        style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>L’Atelier
                                                                                    de Sophie</em></strong></font> <br/>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">Atelier
                                                                                        créatif pour les 6 / 8 ans « Je
                                                                                        fabrique un jeu rigolo»</font>
                                                                                    <br>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:11px; line-height:21px">Gratuit
                                                                                        – sur inscription</font>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td height="10"
                                                                                    style="border-bottom:4px solid #d0d1d3"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>

                                                                                <td width="20%"
                                                                                    style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:14px;">
                                                                                    Mercredi 13 Mai <br>16h -17h30
                                                                                </td>

                                                                                <td width="50%" align="left"
                                                                                    valign="top"><font
                                                                                        style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>Atelier
                                                                                    Multimedia
                                                                                    Junior</em></strong></font> <br/>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">« Deviens une légende ! » (combats multi-joueurs avec League of Legends)</font>
                                                                                    <br>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:11px; line-height:21px">Gratuit
                                                                                        – sur inscription</font>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td height="10"
                                                                                    style="border-bottom:4px solid #d0d1d3"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>

                                                                                <td width="20%"
                                                                                    style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:14px;">
                                                                                    Samedi 27 Mai <br>15h -16h
                                                                                </td>

                                                                                <td width="50%" align="left"
                                                                                    valign="top"><font
                                                                                        style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>L'heure du conte</em></strong></font> <br/>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">Des contes pour les 6-8 ans, lus par Juliette et Marine </font>
                                                                                    <br>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:11px; line-height:21px">Gratuit
                                                                                        – sur inscription</font>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td height="10"
                                                                                    style="border-bottom:4px solid #d0d1d3"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td height="10"
                                                                                    style="border-top:1px solid #d0d1d3;border-bottom:1px solid #d0d1d3; font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><em> Pour les adultes</em></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>

                                                                                <td width="20%"
                                                                                    style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:14px;">
                                                                                    Samedi 23 Mai <br>14h30 - 18h00
                                                                                </td>

                                                                                <td width="50%" align="left"
                                                                                    valign="top"><font
                                                                                        style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>Club Ciné</em></strong></font> <br/>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">
                                                                                        Réunion des cinéphiles de la médiathèque - Thème : « Petit film, grand film ?»
                                                                                    </font>
                                                                                    <br>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:11px; line-height:21px">Entrée Libre                                                                                        – sur inscription</font>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td height="10"
                                                                                    style="border-bottom:4px solid #d0d1d3"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>

                                                                                <td width="20%"
                                                                                    style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:14px;">
                                                                                    Mercredi 13 Mai <br>16h -17h30
                                                                                </td>

                                                                                <td width="50%" align="left"
                                                                                    valign="top"><font
                                                                                        style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>Atelier
                                                                                    Multimedia
                                                                                    Adulte</em></strong></font> <br/>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">Thème : «La vidéo à la demande» (pré-requis : maitrise clavier/souris)</font>
                                                                                    <br>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:11px; line-height:21px">
                                                                                       Entrée libre – sur inscription</font>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>
                                                                                <td height="10"
                                                                                    style="border-bottom:4px solid #d0d1d3"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10"></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                               cellpadding="0">
                                                                            <tr>

                                                                                <td width="20%"
                                                                                    style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:14px;">
                                                                                    Samedi 27 Mai <br>15h -16h
                                                                                </td>

                                                                                <td width="50%" align="left"
                                                                                    valign="top"><font
                                                                                        style="font-family: Georgia, 'Times New Roman', Times, serif; color:#7bb40f; font-size:20px"><strong><em>L'heure du conte</em></strong></font> <br/>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">Des contes pour les 6-8 ans, lus par Juliette et Marine </font>
                                                                                    <br>
                                                                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:11px; line-height:21px">Gratuit
                                                                                        – sur inscription</font>
                                                                                </td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="5%">&nbsp;</td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img src="images/PROMO-GREEN2_07.jpg" width="598" height="7" style="display:block" border="0"
                             alt=""/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="center"><font
                            style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:11px"><strong>Mediathèque Danielle Bianu | 2 rue Marc Sangnier 91330 Yerres  | Tel: 01 69 49 09 15  | <a href="mailto:bibyerres@levaldyerres.fr" style="color:#010203; text-decoration:none">bibyerres@levaldyerres.fr</a></strong></font>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
