{% load staticfiles %}
<!--=== Footer v3 ===-->
		<div id="footer-v3" class="footer-v3">
			<div class="footer">
				<div class="container">
					<div class="row">
                        <!-- About -->
						<div class="col-sm-3 md-margin-bottom-40">
							<a href="/"><img id="logo-footer" class="img-responsive footer-logo" src="{% static 'valdyerresweb/assets/img/logo-blanc.png' %}" alt=""></a>
							<p>Communauté d'Agglomération Val d'Yerres Val de Seine.</p>
							<p>78 Route Nationale 6 - BP 103, 91800 Brunoy</p>
                            <p>Tel: 01 60 47 94 20</p>
                            <p>Fax: 01 60 47 94 20</p>
                            <p>Courriel : <a href="mailto:accueil@vyvs.fr">accueil@vyvs.fr</a> </p>
						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Simple List -->
						<div class="col-sm-3 md-margin-bottom-40">
							<div class="thumb-headline"><h2>Les Villes</h2></div>
							<ul class="list-unstyled simple-list margin-bottom-20">
								<li><a href="#">Boussy-Saint-Antoine</a></li>
								<li><a href="#">Brunoy</a></li>
								<li><a href="#">Crosne</a></li>
								<li><a href="#">Draveil</a></li>
								<li><a href="#">Epinay-sous-Sénart</a></li>
								<li><a href="#">Montgeron</a></li>
                                <li><a href="#">Quincy-sous-Sénart</a></li>
                                <li><a href="#">Vigneux-sur-Seine</a></li>
                                <li><a href="#">Yerres</a></li>
							</ul>


						</div><!--/col-md-3-->

						<div class="col-sm-3">
							<div class="thumb-headline"><h2>L'agglo </h2></div>
							<ul class="list-unstyled simple-list">
								<li><a href="#">Aujourd'hui</a></li>
								<li><a href="#">L'agenda</a></li>
								<li><a href="#">Les équipements</a></li>
								<li><a href="#">Emploi</a></li>
								<li><a href="#">Développement économique</a></li>
                                <li><a href="#">Transports</a></li>
                                <li><a href="#">La gestion des déchets </a> </li>
							</ul>
						</div><!--/col-md-3-->

						<div class="col-sm-3">
							<div class="thumb-headline"><h2>Developers</h2></div>
							<ul class="list-unstyled simple-list margin-bottom-20">
								<li><a href="#">Web Development</a></li>
								<li><a href="#">Web Design</a></li>
								<li><a href="#">Android Development</a></li>
								<li><a href="#">PHP Development</a></li>
								<li><a href="#">Programmer</a></li>
								<li><a href="#">Start-up</a></li>
							</ul>


						</div><!--/col-md-3-->

						<!-- End Simple List -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<!-- Terms Info-->
						<div class="col-md-6">
							<p>
								2015 &copy; All Rights Reserved. Unify Theme by
								<a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
							</p>
						</div>
						<!-- End Terms Info-->

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="social-icons pull-right">
								<li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
								<li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
								<li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
								<li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
								<li><a href="#" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer v3 ===-->