{% load staticfiles %}
<!--=== Footer v3 ===-->
		<div id="footer-v3" class="footer-v3">
			<div class="footer">
				<div class="container">
					<div class="row">
                        <!-- About -->
						<div class="col-sm-3 md-margin-bottom-40">
							<a href="/"><img id="logo-footer" class="img-responsive footer-logo" src="{% static 'valdyerresweb/assets/img/logo-blanc.png' %}" alt=""></a>
							<p>Communauté d'Agglomération <br>Val d'Yerres Val de Seine.</p>
							<p>78 Route Nationale 6 - BP 103, 91805 Brunoy Cedex.<br>
                            Tel: 01 60 47 94 20<br>
                            Fax: 01 60 47 94 20<br>
                            Courriel : <a href="mailto:accueil@vyvs.fr">accueil@vyvs.fr</a> </p>
						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Simple List -->
						<div class="col-sm-3 md-margin-bottom-40">
							<div class="thumb-headline"><h2>Les Villes</h2></div>
							<ul class="list-unstyled simple-list margin-bottom-20">
								<li><a href="/page/boussy-saint-antoine.html">Boussy-Saint-Antoine</a></li>
								<li><a href="/page/brunoy.html">Brunoy</a></li>
								<li><a href="/page/crosne.html">Crosne</a></li>
								<li><a href="/page/draveil.html">Draveil</a></li>
								<li><a href="/page/epinay-sous-senart.html">Epinay-sous-Sénart</a></li>
								<li><a href="/page/montgeron.html">Montgeron</a></li>
                                <li><a href="/page/quincy-sous-senart.html">Quincy-sous-Sénart</a></li>
                                <li><a href="/page/vigneux-sur-seine.html">Vigneux-sur-Seine</a></li>
                                <li><a href="/page/yerres.html">Yerres</a></li>
							</ul>


						</div><!--/col-md-3-->

						<div class="col-sm-3">
							<div class="thumb-headline"><h2>L'agglo </h2></div>
							<ul class="list-unstyled simple-list">
								<li><a href="/ephemeride/">Aujourd'hui</a></li>
								<li><a href="/agenda/">L'agenda</a></li>
								<li><a href="/services/val-dyerres-emploi/">Emploi</a></li>
								<li><a href="/services/developpement-economique/">Développement économique</a></li>
                                <li><a href="/services/transports/">Transports</a></li>
                                <li><a href="/services/dechets-et-ordures-menageres/">La gestion des déchets </a> </li>
							</ul>
						</div><!--/col-md-3-->

						<div class="col-sm-3">
							<div class="thumb-headline"><h2>Les équipements</h2></div>
							<ul class="list-unstyled simple-list margin-bottom-20">
								<li><a  href="/equipements/piscine/">Piscines </a></li>
								<li><a  href="/equipements/bibliotheque/">Bibliothèques / médiathèques </a></li>
								<li><a  href="/equipements/salle-de-spectacle/">Salles de spectacles </a></li>
								<li><a  href="/equipements/parc-urbain-2/">Parcs urbains </a></li>
								<li><a href="/equipements/espace-public-numerique/">Espaces publics numériques</a></li>
								<li><a href="/equipements/centre-social/">Centres sociaux</a></li>
                                <li><a href="/equipements/conservatoire/">Conservatoires</a></li>
							</ul>


						</div><!--/col-md-3-->

						<!-- End Simple List -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<!-- Terms Info-->
						<div class="col-md-6">
							<p>
								<a href="/page/mentions-legales.html">Mentions légales</a> | <a href="/page/marches-publics.html">Marchés publics</a> | <a href="/services/ressources-humaines/">Recrutements</a>
							</p>
						</div>
						<!-- End Terms Info-->

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="social-icons pull-right">
								<li><a href="http://www.facebook.com/pages/Communaute-dAgglomeration-du-Val-dYerres/171201942911202?v=wall" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
								<li><a href="https://twitter.com/ValdYerres" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer v3 ===-->