{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}
{% load staticfiles %}

<div class="header-v3 header-sticky">
        <div class="container container-space">

            <div class="navbar navbar-default mega-menu" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img id="logo-header" width="125px" src="{% static 'valdyerresweb/assets/img/logo-mini-vyvs.png' %}" alt="Logo">
                        </a>
                    </div>


                    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                        <div class="container">
                        {% block menu %}{% getmenu %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>