{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}Lettre d'informations du Val d'Yerres Val de Seine{% endblock %}
{% block meta-description %}Lettre d'informations du Val d'Yerres{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}
<div class="container" style="margin-top:60px;">
<div  class="row-fluid">
	<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Retourner à l'accueil du site</a>
				</li>
			</ul>
	</div>
			<div class="col-md-6">
				<h1>Lettre d'informations</h1>
				<p>
				{% if reponse == 0 %}
					<div class="alert">Merci d'utiliser un courriel valide.</div>
					<a style="margin-left: 15%;" href="/mail/" class="btn">Retour au formulaire</a>
				{% endif %}
				{% if reponse == 1 %}
					<div class="alert alert-success">Votre adresse a été ajoutée. Un courriel vous a été envoyé, vous avez 24h pour confirmer votre adresse.</div>
					<a style="margin-left: 15%;" href="/" class="btn">Retour</a>
				{% endif %}
				{% if reponse == 2 %}
					<div class="alert alert-danger">Une erreur est survenue lors de l'ajout de votre courriel, merci de réessayer plus tard.</div>
					<a style="margin-left: 15%;" href="/mail/" class="btn">Retour au formulaire</a>
				{% endif %}
				{% if reponse == 3 %}
					<div class="alert alert-info">Vous êtes déjà abonné à la lettre d'informations du Val d'Yerres Val de Seine.</div>
					<a style="margin-left: 15%;" href="/mail/" class="btn">Retour au formulaire</a>
				{% endif %}
				{% if reponse == 4 %}
					<div class="alert">Vous devez accepter les cookies pour utiliser ce formulaire.</div>
					<a style="margin-left: 15%;" href="/mail/" class="btn">Retour au formulaire</a>
				{% endif %}
				</p>
			</div>
</div>
</div>

{% endblock%}

{% block jsload%}
	{% include "include/jquery-bootstrap.html" %}

{% endblock%}