{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}
{% load staticfiles %}


{% block title %}Formulaire inscription espaces public numeriques{% endblock %}
{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}Formulaire en ligne d'inscription aux espaces public numeriques EPN{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" %} ">
    <link rel="stylesheet"
          href="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" %} ">
{% endblock %}

{% block contenu %}

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{% url 'actulist' %}">Actualités</a></li>
                    <li class="active">{{ page.titre }}</li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <h1><a href="">Formulaire d'inscription aux espaces public numériques</a></h1>
            </div>
            {% if message %}

            {% endif %}
            <div class="col-md-6">
                <div class="panel-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input name="nom" type="text" class="form-control" id="InputNom"
                                   placeholder="Entrez votre nom"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input name="prenom" type="text" class="form-control" id="InputPrenom"
                                   placeholder="Entrez votre prénom" required>
                        </div>
                        <div class="form-group">
                            <label for="datenaissance">Date de naissance</label>
                            <input name="datenaissance" type="text" class="form-control" id="hasDatepicker"
                                   placeholder="Entrez votre date de naissance" required>
                        </div>
                        <div class="form-group">
                            <label for="sexe">Sexe</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sexe" class="form-control" value="H" required>
                                Homme </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sexe" class="form-control" value="F" required>
                                Femme </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" id="InputPrenom"
                                   placeholder="Entrez votre email" required>
                        </div>
                        <div class="form-group">
                            <label for="telephone">Téléphone</label>
                            <input name="telephone" type="text" class="form-control" id="InputPrenom"
                                   placeholder="Entrez votre téléphone" required>
                        </div>

                        <div class="form-group">
                            <label for="adresse">Adresse</label>
                            <input name="adresse" type="text" class="form-control" id="InputPrenom"
                                   placeholder="Entrez votre adresse" required>
                        </div>

                        <div class="form-group">
                            <label for="codepostal">Code Postal</label>
                            <input name="codepostal" type="text" class="form-control" id="InputPrenom"
                                   placeholder="Entrez votre code postal" required>
                        </div>

                        <div class="form-group">

                            <label for="ville">Ville</label>
                            <input name="ville" type="text" class="form-control" id="InputPrenom"
                                   placeholder="Entrez votre ville" required>
                        </div>
                        <div class="form-group">
                            <label for="profession">Profession</label>
                            <input name="profession" type="text" class="form-control" id="InputPrenom"
                                   placeholder="Entrez votre profession" required>
                        </div>

                        <div class="form-group">

                            <input type="submit" class="btn btn-lg btn-primary" id="InputPrenom">
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <p>
                <ul>
                    <li>L'inscription est validée par la remise d'une carte nominative au prix de 5 €.</li>
                    <li>La carte est à présenter à chaque visite.</li>
                    <li>En cas de perte de la carte le renouvellement sera facturé 5 €.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
    <script src="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js" %}"></script>
    <script src="{% static 'valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js' %} "></script>

    <!--[if lt IE 9]>
    <script src="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"%}></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"%}></script>
    <![endif]-->

    <script src="{% static "valdyerresweb/assets/js/plugins/masking.js" %}"></script>

    <script src="{% static "valdyerresweb/assets/js/plugins/datepicker.js" %}"></script>

    <script src="{% static "valdyerresweb/assets/js/plugins/validation.js" %}"></script>
    <script>
        jQuery(document).ready(function () {
            Masking.initMasking();
            //or
            Datepicker.initDatepicker();
            //or
            Validation.initValidation();
            $(function () {
                $.datepicker.setDefaults($.datepicker.regional["fr"]);
                $("#hasDatepicker").datepicker(
                    {
                        currentText: "Now"
                    }
                );

            });
        });
    </script>
{% endblock %}