{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}
{% load staticfiles %}


{% block title %}Formulaire inscription espaces public numeriques{% endblock %}
{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}Formulaire en ligne d'inscription aux espaces public numeriques EPN{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css" %} ">
    <link rel="stylesheet"
          href="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" %} ">
{% endblock %}

{% block contenu %}

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/equipements/">Les équipements Val d'Yerres Val de Seine</a>
				</li>
				<li>
					<a href="/equipements/espace-public-numerique/"> Espaces Publics Numériques</a>
				</li>
                <li class="active">
                    Fiche inscription
                </li>
			</ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <h1><a href="">Inscription aux espaces public numériques</a></h1>
            </div>
            <div class="col-md-6">
            <p>Merci de télécharger le document (Format PDF) en suivant <a href="{% url 'getpdf' uuid=fiche.uuid %}">ce lien</a> et de le retourner
                signé à l'Espace Public Numérique de votre choix .</p>

             <p style="text-align: right">
            <a href="{% url 'getpdf' uuid=fiche.uuid %}" class="btn btn-primary">Téléchargez le PDF</a>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                <ul>
                    <li>L'inscription est validée par la remise d'une carte nominative au prix de 5 €.</li>
                    <li>La carte est à présenter à chaque visite.</li>
                    <li>En cas de perte de la carte le renouvellement sera facturé 5 €.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
    <script src="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js" %}"></script>
    <script src="{% static 'valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js' %} "></script>

    <!--[if lt IE 9]>
    <script src="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"%}></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{% static "valdyerresweb/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"%}></script>
    <![endif]-->

    <script src="{% static "valdyerresweb/assets/js/plugins/masking.js" %}"></script>

    <script src="{% static "valdyerresweb/assets/js/plugins/datepicker.js" %}"></script>

    <script src="{% static "valdyerresweb/assets/js/plugins/validation.js" %}"></script>
    <script>
        jQuery(document).ready(function () {
            Masking.initMasking();
            //or
            Datepicker.initDatepicker();
            //or
            Validation.initValidation();
            $(function () {
                $.datepicker.setDefaults($.datepicker.regional["fr"]);
                $("#hasDatepicker").datepicker(
                    {
                        currentText: "Now"
                    }
                );

            });
        });
    </script>
{% endblock %}