{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %} Les annonces emploi du Val d'Yerres : {{service.nom}} {% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}{{page.meta_description}}{% endblock %}

{% block contenu %}
<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="{% url 'annonces-list' %}">Les annonces emploi du Val d'Yerres</a>
				</li>
				<li class='active'>
					{{service.nom}}
				</li>
			</ul>
		</div>
		<div class="col-md-12">
			<h1><a href="">Les annonces emploi du Val d'Yerres</a></h1>
			
			{% if message %}
			<div class="alert alert-error">
						    	<p>
						    		{{message|safe}}
						    	</p>
						    </div>
			
			
			{% else %}
			<div class="col-md-7">
				<table class="table table-striped">
				{% for page in pages %}
				<tr>

					<td><a href="{{page.get_absolute_url}}">{{page.intitule}}</a>
					
					</td>
					<td>
					<p>
						Proposé par : <a href="{{page.service.get_absolute_url}}">{{page.service.nom}}</a>
						
					</p>
					{{page.description_du_poste|resume:400|safe}}
					
					<p style="text-align: right;" >
						<a class = "btn btn-primary" href="{{page.get_absolute_url}}">+ d'infos</a>
					</p>
					</td>
				
				
				</tr>
				{% endfor %}
				</table>
			</div>
			
		</div>
		
		{% endif %}
	</div>

</div>

{% endblock %}

{% block jsload%}
{% include "include/jquery-bootstrap.html" %}

{% endblock %}