{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}

{% block title %} Annonce Emploi : {{ annonce.intitule }} {% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}{{ annonce.description_du_poste|resume:200 }}{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a href="{% url 'annonces-list' %}">Les annonces emploi du Val d'Yerres Val de Seine</a>
                    </li>
                    <li class='active'>
                        <a href="{% url 'annonces-list-service' service_slug=annonce.service.slug %}">{{ annonce.service.nom }}</a>
                    </li>
                    <li class="active">
                        {{ annonce.intitule }} </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12" itemscope itemtype="http://schema.org/JobPosting">
                <h1 itemprop="title"><a href="{{ page.get_absolute_url }}">{{ annonce.intitule|safe }}</a></h1>
                <hr/>
                {% if annonce.lieu_travail %}
                    <p><strong>Lieu(x) de travail: </strong><span itemprop="jobLocation" itemscope
                                                                  itemtype="http://schema.org/Place"> <span
                            itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span
                            itemprop="addressLocality">{{ annonce.lieu_travail|safe }} </span> </span> </span></p>
                {% endif %}

                {% if annonce.nom_employeur %}
                    <p><strong>Nom de l'employeur: </strong><span
                            itemprop="industry">{{ annonce.nom_employeur|safe }}</span></p>
                {% endif %}

                {% if annonce.secteur_activite %}
                    <p><strong>Secteur activité: </strong><span
                            itemprop="industry">{{ annonce.secteur_activite|safe }}</span></p>
                {% endif %}

                {% if annonce.description_du_poste %}
                    <p itemprop="description">
                        <strong>Description :</strong>
                        {{ annonce.description_du_poste|safe }}
                    </p>
                {% endif %}

                {% if annonce.niveau_formation %}
                    <p><strong>Niveau de formation :</strong>
  				<span itemprop="educationRequirements">
    			{{ annonce.niveau_formation|safe }}
  				</span>
                    </p>
                {% endif %}



                {% if annonce.experience_requise %}
                    <p><strong>Experience requise:</strong><span itemprop="experienceRequirements">
   				{{ annonce.experience_requise|safe }}
  			        </span></p>
                {% endif %}

                {% if annonce.type_de_poste %}
                    <p><strong>Type de poste:</strong>
                        {{ annonce.type_de_poste|safe }}</p>
                {% endif %}

                {% if annonce.salaire_indicatif %}
                    <p><strong>Salaire indicatif: </strong> {{ annonce.salaire_indicatif|safe }}</p>
                {% endif %}

                {% if annonce.nb_postes %}
                    <p><strong>Contact :</strong>
                        {{ annonce.nb_postes|safe }}</p>
                {% endif %}

                {% if annonce.contact %}
                    <p><strong>Contact :</strong>
                        {{ annonce.contact|safe }}</p>
                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
{% endblock %}