{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}Alerte sur equipement{% endblock %}
{% block meta-description %}Lettre d'informations du Val d'Yerres{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}
<div class="container" style="margin-top:60px;">
<div  class="row-fluid">
	<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Retourner à l'accueil du site</a><span class="divider">/</span>
				</li>
			</ul>
	</div>
			<div class="span7" style="margin-bottom:20px;">
				<h2>{{ equipement.alerte.nom }}</h2>
				{% if reponse == 0 %}
					<p>
						<div class="alert">Merci d'utiliser un courriel valide.</div>
					</p>
					<div style="text-align: center;">
						<a href="{% url 'equipements.views.AlertesSansJs' equipement_slug=equipement.slug %}" class="btn">Retour au formulaire</a>
					</div>
				{% endif %}
				{% if reponse == 1 %}
					<p>
						<div class="alert alert-success">Votre message a bien été envoyé, nous vous répondrons dans les plus brefs délais.</div>
					</p>
					<div style="text-align: center;">
						<a href="{% url 'equipements.views.EquipementsDetailsHtml' fonction_slug=equipement.fonction.slug, equipement_slug=equipement.slug %}" class="btn">Retour</a>
					</div>
				{% endif %}
				{% if reponse == 2 %}
					<p>
						<div class="alert alert-danger">Une erreur est survenue lors de l'envoi de votre message, merci de réessayer plus tard.</div>
					</p>
					<div style="text-align: center;">
						<a href="{% url 'equipements.views.AlertesSansJs' equipement_slug=equipement.slug %}" class="btn">Retour au formulaire</a>
					</div>
				{% endif %}
				{% if reponse == 3 %}
					<p>
						<div class="alert alert">Merci d'utiliser un numéro de téléphone valide.</div>
					</p>
					<div style="text-align: center;">
						<a href="{% url 'equipements.views.AlertesSansJs' equipement_slug=equipement.slug %}" class="btn">Retour au formulaire</a>
					</div>
				{% endif %}
				{% if reponse == 4 %}
					<p>
						<div class="alert">Merci d'attendre une minute entre deux signalements.</div>
					</p>
					<div style="text-align: center;">
						<a href="{% url 'equipements.views.AlertesSansJs' equipement_slug=equipement.slug %}" class="btn">Retour au formulaire</a>
					</div>
				{% endif %}
				{% if reponse == 5 %}
					<p>
						<div class="alert">Vous devez accepter les cookies pour utiliser ce formulaire.</div>
					</p>
					<div style="text-align: center;">
						<a href="{% url 'equipements.views.AlertesSansJs' equipement_slug=equipement.slug %}" class="btn">Retour au formulaire</a>
					</div>
				{% endif %}
			</div>
</div>
</div>

{% endblock%}

{% block jsload%}
	{% include "include/jquery-bootstrap.html" %}

{% endblock%}