<small><a class="hidden-phone text-error" id="lienAjax" style="display: none;" href="#widgetAlertes" role="button"
          data-toggle="modal" onclick="compteur();">{{ alerte.lien|safe }}</a></small>
<small><a id="lienPost" href="{% url 'alertes-sans-js' equipement_slug=alerte.equipement.slug %}"
          class="text-error">{{ alerte.lien|safe }}</a></small>
<small><a class="visible-phone text-error"
          href="{% url 'alertes-sans-js' equipement_slug=alerte.equipement.slug %}">{{ alerte.lien|safe }}</a>
</small>

<div style="text-align: left;" class="modal fade" id="widgetAlertes" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ alerte.nom }}</h4>
                {{ alerte.cible|safe }}
                <div id="alerteErreur" style="position: absolute;left: 350px;top: 40px;"></div>
            </div>
            <div class="modal-body">
                <div id="form1">
                    <form>
                        <div class="row">
                        <div class="form-group col-md-6">
                            <input type="hidden" id="alerteId" value="{{ alerte.id }}">
                            <input type="hidden" id="equipementId" value="{{ alerte.equipement.id }}">
                            <input type="hidden" id="tokenCsrf" value="">
                            <fieldset>
                                <legend>Nom et prénom</legend>
                                <div id="nomErreur" class="control-group" style="margin: 0">

                                    <label><span class="add-on" style="width: 80px;text-align: left;">Nom</span></label>
                                    <input class="form-control" type="text" id="alerteNom" required>

                                </div>
                                <div id="prenomErreur" class="control-group" style="margin: 0">

                                    <label><span class="add-on"
                                                 style="width: 80px;text-align: left;">Prénom</span></label>
                                    <input class="form-control" type="text" id="alertePrenom" required>

                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group col-md-6">
                            <fieldset>
                                <legend>Vos coordonnées</legend>
                                <div id="rueErreur" class="control-group" style="margin: 0">

                                    <label><span class="add-on" style="width: 80px;text-align: left;">Rue</span></label>
                                    <input class="form-control" type="text" id="alerteRue" required>

                                </div>
                                <div id="codepostalErreur" class="control-group" style="margin: 0">

                                    <label><span class="add-on" style="width: 80px;text-align: left;">Code Postal</span></label>
                                    <input class="form-control" type="text" id="alerteCodePostal" required>

                                </div>
                                <div id="villeErreur" class="control-group" style="margin: 0">

                                    <label><span class="add-on"
                                                 style="width: 80px;text-align: left;">Ville</span></label>
                                    <input class="form-control" type="text" id="alerteVille" required>

                                </div>
                                <div id="telErreur" class="control-group" style="margin: 0">

                                    <label><span class="add-on"
                                                 style="width: 80px;text-align: left;">Téléphone</span></label>
                                    <input class="form-control" type="tel" id="alerteTel">

                                </div>
                                <div id="mailErreur" class="control-group" style="margin: 0">

                                    <label><span class="add-on"
                                                 style="width: 80px;text-align: left;">Courriel</span></label>
                                    <input class="form-control" type="email" id="alerteMail">

                                </div>
                            </fieldset>
                        </div>
                            </div>
                        <div class="form-group">
                            <fieldset>
                                <legend>Votre message</legend>
                                <div id="msgErreur" class="control-group" style="margin: 0">
                            <textarea class="form-control" name="message" style="width: 75%;height: 140px;margin: auto;" id="alerteMessage"
                                      onkeyup="compteur();" maxlength="500"></textarea>
                                </div>
                                <div>Nombre de caractères
                                    : <span
                                            id="alerteCompteur">0/500</span></div>
                            </fieldset>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Fermer</button>
			<span id="form2">
				<div class="btn btn-primary" onclick="envoiAlerte();">Envoyer</div>
			</span>
            </div>
        </div>
    </div>
</div>