{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block meta-description %}Agenda des spectacles et évènements organisé par le Val d'Yerres et ses partenaires {% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}



<div class="container" style="margin-top:60px;">

	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
					<li><a href="/">Accueil</a></li> <span class="divider">/</span></li>
					<li class="active">Agenda<li>
			</ul>
		</div>
		<div class="span12">
			<div class="page-header">
				<h1>Les évènements à venir : </h1>

			</div>
			<div class="row-fluid">
				<div class="span6">
					<ul class="nav nav-tabs" style="margin-bottom:0px;">
						<li {% if period == "toutes" %}class="active"{%endif%}>
							<a href="{% url agenda-type-period-orga type_slug=typeslug period="toutes" orga_slug=orgaslug %}">Toutes périodes </a>
						</li>
						<li {% if period == "cette-semaine" %}class="active"{%endif%} >
							<a href="{% url agenda-type-period-orga type_slug=typeslug period="cette-semaine" orga_slug=orgaslug %}">Cette semaine</a>
						</li>
						<li {% if period == "ce-week-end" %}class="active"{%endif%} >
							<a href="{% url agenda-type-period-orga type_slug=typeslug period="ce-week-end" orga_slug=orgaslug %}">Ce week-end</a>
						</li>
						<li {% if period == "ce-mois" %}class="active"{%endif%} >
							
							<a href="{% url agenda-type-period-orga type_slug=typeslug period="ce-mois" orga_slug=orgaslug %}">Ce mois</a>
						</li>
					</ul>
					<div style="border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">
						{% if flash %}
						    <div class="alert alert-error">
						    	<p>
						    		{{flash|safe}}
						    	</p>
						    </div>
						{% endif%}
						
						{% regroup evenements by monthyeardebut as eventlist %}

						{% for eventmonth in eventlist %}
						{% if not forloop.first %} <hr style="=margin-top: 0px;" />{% endif%}
						<h3 style="text-align: center;margin-top: 0px;{% if forloop.first %}padding-top:15px;{% endif%} ">{{eventmonth.grouper|grouperToString}}</h3>
						<table class="table  table-striped">
							{% for evenement in eventmonth.list %}
							<tr>
								<td><img class="img-polaroid" src="{{evenement.image|resize:'100x100x1'}}"></td>
								<td><a href="{% url evenements.views.EvenementDetailsHtml slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}"><strong>{{evenement.nom}}</strong></a>
								<p>
									Type : {{evenement.type}}.
									<br/>
									Date : {{ evenement.debut|dateCustom:evenement.fin }} .
									<br/>
									Lieu : {{evenement.lieu.nom}}, {{evenement.lieu.ville.nom}}. 
								</p>
								<p style="text-align:right;">
									<a href="{% url evenements.views.EvenementDetailsHtml slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}" class="btn btn-primary" type="button">+ d'infos</a>
								</p></td>

							</tr>
							{% endfor %}
						</table>
						{% endfor %}
					</div>
				</div>
				<div class="span4 offset1">
					<p style="text-align: center;">
						{{dictargs|calendarexportlinklist|safe}}
		
						{{"ical"|aide}}
					</p>
				</div>
				<div class="span4 offset1">
					
					<ul class="nav nav-list affix well ">
						<p>
						Voir les evènements :
					</p>
						<li class="nav-header">
							Par type
						</li>
						{% for item in typeslist %}
						<li {% if typeslug == item.slug %}class="active"{%endif%} >
							<a href="{% url agenda-type-period-orga type_slug=item.slug period=period  orga_slug=orgaslug %}" >{{item.nom}}</a>
						</li>
						{% endfor %}
						<li class="divider"></li>
						<li {% if typeslug == "tous" %}class="active"{%endif%} >
							<a href="{% url agenda-type-period-orga type_slug="tous" period=period orga_slug=orgaslug %}">Tous types d'évènements</a>
						</li>
						<li class="divider"></li>
						<li class="nav-header">
							Par Organisateur :
						</li>
						{% for item in orgalist %}
						<li {% if orgaslug == item.slug %}class="active"{%endif%} >
							<a href="{% url agenda-type-period-orga type_slug=typeslug period=period orga_slug=item.slug %}" >{{item.nom}}</a>
						</li>
						{% endfor %}
						<li class="divider"></li>
						<li {% if orgaslug == "tous" %}class="active"{%endif%} >
							<a href="{% url agenda-type-period-orga type_slug=typeslug period=period orga_slug="tous" %}">Tous les organisateurs</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

{% block jsload%}
<script src="/static/js/jquery/jquery-1.8.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
{% endblock%}
