{% extends "include/main.html" %}

{% block meta-description %}Liste des évènements de la {{ saison.nom }}{% endblock %}

{% block contenu %}
	
{% load filtres %}
{% load tz %}
	
	{% if liste_evenement %}
		<h1><a href="{% url evenements.views.AgendaAnnee annee=annee %}">Evènements de l'année {{ annee }}</a></h1>
		
		<ul>
		{% for evenement in liste_evenement %}
			<li>
				<h3><a href="{% url evenements.views.EvenementDetailsHtml slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}">{{ evenement.nom }}</a></h3>
			    <p>{{ evenement.type.nom }}</p>
			    <p><a href="{% url evenements.views.SaisonDetailsHtml slug=evenement.cadre_evenement.slug  %}">{{ evenement.cadre_evenement.nom }}</a></p>
			    <p>{{evenement.debut|localtime|dateCustom:evenement.fin }}, {{ evenement.Lieu }}</p>
			    <p>{{ evenement.description|resume:150|safe }}</p>
			    <p>Plus d'info : <a href="{% url evenements.views.EvenementDetailsHtml slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}">{{ evenement.type.nom }} : {{ evenement.nom }}</a></p>
		    </li>
		{% endfor %}
		</ul>
	{% else %}
	    <p>Erreur interne.</p>
	{% endif %}

{% endblock %}