{% extends "include/main.html" %}

{% block meta-description %}Liste des évènements de la {{ saison.nom }}{% endblock %}

{% block contenu %}

{% load filtres %}
{% load tz %}
<div class="container" style="margin-top:60px;">

	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>Les évènements à venir : </h1>

			</div>
			<div class="row-fluid">
				<div class="span6">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#">Tous</a>
						</li>
						<li>
							<a href="#">Cette semaine</a>
						</li>
						<li>
							<a href="#">Ce Week-End</a>
						</li>
						<li>
							<a href="#">Ce mois</a>
						</li>
					</ul>
					<table class="table  table-striped">
						{% for evenement in evenements %}
						<tr>
							<td> {% if evenement.image %}<img class="img-polaroid" src="{{evenement.image|resize:'150x150x1'}}">{%endif%} </td>
							<td><a href="{% url evenements.views.EvenementDetailsHtml slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}"><strong>{{evenement.nom}}</strong></a>
							<p>
								Type : {{evenement.type}}
								<br/>
								Date : {{ evenement.debut|dateCustom:evenement.fin }}
							</p>
							<p style="text-align:right;">
								<a href="{% url evenements.views.EvenementDetailsHtml slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}" class="btn btn-primary" type="button">+ d'infos</a>
							</p></td>

						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="span4 offset1 well">
					<p>Voir les evènements :</p>
					<ul class="nav nav-list">
    					<li class="nav-header">Par type</li>
    					{% for item in typeslist %}
    					<li {% if typeslug == item.slug %}class="active"{%endif%} ><a href="{% url evenements.views.ListType type_slug=item.slug %}" >{{item.nom}}</a></li>
						{% endfor %}
						<li class="divider"></li>
						<li {% if typeslug == "tous" %}class="active"{%endif%} ><a href="{% url evenements.views.AgendaGlobal %}">Tous les évènements</a></li>
    				</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
