{% extends "include/main.html" %}

{% if saison %}
{% block meta-description %}{{ organisateur.meta_description }}{% endblock %}

{% load filtres %}
{% load aidetag %}
{% load eventFilters %}
{% load tz %}

{% block contenu %}

<div itemscope itemtype="http://schema.org/Organization" class="container"style="margin-top: 60px;">
	<div  class="row-fluid">
			<div class="span12">
			<ul class="breadcrumb">
					<li><a href="/">Accueil</a></li> <span class="divider">/</span></li>
					<li><a href="{% url evenements.views.AgendaGlobal %}">Agenda</a> <span class="divider">/</span></li>
					<li><a href="">Organisateurs</a> <span class="divider">/</span></li>
					<li class="active">{{ organisateur.nom }}</li> 
						
			</ul>	
			</div>	
			<div class="span7">
				
				
				
				<h1 itemprop="name"><a itemprop="url" href="{% url evenements.views.OrganisateurDetailsHtml organisateur_slug=organisateur.slug %}">{{ organisateur.nom }}</a></h1>
				
				
				{% if organisateur.logo %}
				<img class="img-polaroid" alt="{{ organisateur.nom }}" src="{{ organisateur.logo|resize:'670x375x1' }}">
				{% endif %}
	
					<div itemprop="description">
						{{ organisateur.description|safe }}
					</div>
				
				{% if organisateur.url != "" %}
				<p>
					Plus d'informations sur ce site : <a href="{{ organisateur.url }}">{{organisateur.nom}}</a>
				</p>
				{% endif %}
				
			</div>
			<div class="span4">
				<br/>
				<address>
					<div itemprop="location" itemscope itemtype="http://schema.org/Place">
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								
								<strong>{{ organisateur.nom }}</strong><br/>
								<span itemprop="streetAddress" >{{ organisateur.rue }}</span><br/>
								<span>{{ organisateur.ville.code_postal }}</span> <span itemprop="addressLocality" >{{ organisateur.ville.nom }}</span><br/>
								<span><abbr title="Téléphone">Tel</abbr>: {{ organisateur.telephone }}</span><br/>

					</div>
					</div>
				</address>
				<hr/>
		<p style="text-align: center;">
				<a href="{% url evenements.views.OrganisateurVCF organisateur_slug=organisateur.slug %}">Ajouter cet organisateur à vos contacts</a>
				
				<br/>
				(Format Vcard)
				{{"vcard"|aide}}
		</p>
		<hr class="hidden-phone" />
		    <p class="hidden-phone" style="text-align: center;">   
		    	Ajouter cet organisateur à vos contacts : <br/>(Format QR Code) : <br/>
					<img alt="QR Code represetant la Vcard de : {{ organisateur.nom }}" src="data:image/png;base64,{{ organisateur_qr }}"/>
					<br/>
					{{"qr-code"|aide}}
			</p>
		</div>
	
	</div>
	
</div>

{% endblock %}
{% else %}
<p>
	Erreur interne.
</p>
{% endif %}

{% block jsload%}

<script src="/static/js/jquery/jquery-1.8.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
{% endblock%}
