{% extends "include/main.html" %}

{% block meta-description %}Liste des évènements de la {{ saison.nom }}{% endblock %}

{% block contenu %}
	
{% load filtres %}
{% load tz %}
	
	{% if saison %}
		
		{% if isfestival == "True" %}
			<h1><a href="{% url evenements.views.SaisonDetailsHtml slug=saison.saison_culture.slug %}">{{ saison.saison_culture.nom }}</a></h1>
			<h2><a href="{% url evenements.views.SaisonDetailsHtml slug=saison.slug %}">{{ saison.nom }}</a></h2>
		{% else %}
			<h1><a href="{% url evenements.views.SaisonDetailsHtml slug=saison.slug %}">{{ saison.nom }}</a></h1>
		{% endif %}
		
		{{ saison.description|safe }}
		
		{% if liste_evenement %}
		
		    <h2>Les évènements</h2>
		    
		    <ul>
		    {% for evenement in liste_evenement %}
		        {{ evenement|safe }}
		    {% endfor %}
		    </ul>
		
		{% else %}
		    <p>Aucun Evènement trouvé.</p>
		{% endif %}
	
	{% else %}
	    <p>Erreur interne.</p>
	{% endif %}

{% endblock %}