{% extends "include/main.html" %}

{% block meta-description %}Liste des évènements de la {{ saison.nom }}{% endblock %}

{% block contenu %}

	
{% load filtres %}
{% load tz %}
	
	{% if saison %}
		
		<h1><a href="{% url evenements.views.SaisonDetailsHtml slug=saison.slug %}">{{ saison.nom }}</a></h1>
		
		{% if isfestival %}
			<h2><a href="{% url evenements.views.SaisonDetailsHtml slug=festival.slug %}">{{ festival.nom }}</a></h2>
		{% endif %}
		
		{{ saison.description|safe }}
		
		{% if liste_evenement %}
		
		    <h2>Les évènements</h2>
		    <ul>
		    {% for evenement in liste_evenement %}
		        <li>
		        	<h3><a href="{% url evenements.views.EvenementDetailsHtml slug=saison.slug evenement_slug=evenement.slug %}">{{ evenement.nom }}</a></h3>
			        <p>{{ evenement.type.nom }}</p>
			        {% if evenement.cadre_evenement_id != saison.id and isfestival == False %}
			        	<p>{{ evenement.cadre_evenement.nom }}</p>
			        {% endif %}
			        <p>{{evenement.debut|localtime|dateCustom:evenement.fin }}, {{ evenement.Lieu }}</p>
			        <p>{{ evenement.description|resume:150|safe }}</p>
			        <p>Plus d'info : <a href="{% url evenements.views.EvenementDetailsHtml slug=saison.slug evenement_slug=evenement.slug %}">{{ evenement.type.nom }} : {{ evenement.nom }}</a></p>
		        </li>
		    {% endfor %}
		    </ul>
		
		{% else %}
		    <p>Aucun Evènement trouvé.</p>
		{% endif %}
	
	{% else %}
	    <p>Erreur interne.</p>
	{% endif %}

{% endblock %}