{% extends "include/main.html" %}

{% block contenu %}

	
{% load filtres %}
{% load tz %}
	
	{% if saison %}
		
		<h1><a href="{% url evenements.views.SaisonDetailsHtml saison_slug=saison.slug %}">{{ saison.nom }}</a></h1>
		
		{{ saison.description|safe }}
		
		{% if liste_evenement %}
		
		    <h2>Les évènements</h2>
		    <ul>
		    {% for evenement in liste_evenement %}
		        <li>
		        	{% if evenement.cadre_evenement_id != saison.id %}
			        	<h3><a href="{% url evenements.views.SaisonEvenementDetailsHtml saison_slug=saison.slug festival_slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}">{{ evenement.nom }}</a></h3>
			        	<p>{{ evenement.type.nom }}</p>
			        	<p><a href="{% url evenements.views.SaisonFestivalDetailsHtml saison_slug=saison.slug festival_slug=evenement.cadre_evenement.slug %}">{{ evenement.cadre_evenement.nom }}</a></p>
			        	<p>{{evenement.debut|localtime|dateCustom:evenement.fin }}, {{ evenement.Lieu }}</p>
			        	<p>{{ evenement.description|resume:150|safe }}</p>
			        	<p>Plus d'info : <a href="{% url evenements.views.SaisonEvenementDetailsHtml saison_slug=saison.slug festival_slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}">{{ evenement.type.nom }} : {{ evenement.nom }}</a></p>
		        	{% else %}
		        		<h3><a href="{% url evenements.views.SaisonEvenementDetailsHtml saison_slug=saison.slug evenement_slug=evenement.slug %}">{{ evenement.nom }}</a></h3>
			        	<p>{{ evenement.type.nom }}</p>
			        	<p>{{evenement.debut|localtime|dateCustom:evenement.fin }}, {{ evenement.Lieu }}</p>
			        	<p>{{ evenement.description|resume:150|safe }}</p>
			        	<p>Plus d'info : <a href="{% url evenements.views.SaisonEvenementDetailsHtml saison_slug=saison.slug evenement_slug=evenement.slug %}">{{ evenement.type.nom }} : {{ evenement.nom }}</a></p>
		        	{% endif %}
		        </li>
		    {% endfor %}
		    </ul>
		
		{% else %}
		    <p>Aucun Evènement trouvé.</p>
		{% endif %}
	
	{% else %}
	    <p>Erreur interne.</p>
	{% endif %}

{% endblock %}