{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}{% endblock %}

{% block meta-description %}{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}
<div id="thecarousel" class="carousel slide">
	<div class="carousel-inner">
		{% for item in carroussel %}
		<div data-paginator="paginator-{{forloop.counter0}}" class="item {%if forloop.first %}active{%endif%}" >
			<img class="carouselbkgd" alt="Fond flou : {{item.titre}}" src={{item.image|expand:'1500x500x1'}}>
			<div class="carousel-caption-large visible-desktop ">

				<img class="img-polaroid-fix visible-desktop" alt="Illustration : {{item.titre}}" src={{item.image|resize:'200x150x1'}}>
				<h2><a href="{{item.get_absolute_url}}">{{item.titre}}</a></h2>
				<p>
					{{item.contenu|resume:250|safe}}
				</p>
				<br/>
				<br/>
				<p>
					<a style="float: right" class ="btn btn-primary"href="{{item.get_absolute_url}}">+ d'infos</a>
				</p>
			</div>
			<div class="carousel-caption visible-phone visible-tablet ">

				<p>
					<strong><a href="{{item.get_absolute_url}}"></strong>{{item.titre}}</a>
					<br/>
					{{item.contenu|resume:250|safe}}
					<br/>
					<a href="{{item.get_absolute_url}}">Lire la suite</a>
				</p>

			</div>
		</div>
		{% endfor %}
	</div>
	<div id="paginators" class="pagination pagination-caroussel">
		<ul>
			{% for item in carroussel %}

			<li id="paginator-{{forloop.counter0}}" class='paginator {%if forloop.first %}active{%endif%}'>
				<a href="#">{{forloop.counter}}</a>
			</li>

			{% endfor %}
		</ul>
	</div>
	<a class="carousel-control left" href="#thecarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#thecarousel" data-slide="next">&rsaquo;</a>
</div>

{% endblock%}

{% block jsload%}
<script src="/static/js/jquery/jquery-1.8.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script>
	$(document).ready(function() {

		$('#thecarousel').carousel({
			interval : 4000
		});
		$('#thecarousel').bind('slid', function(e) {

			index = $('#thecarousel .active').index('#thecarousel .item');
			$('#paginators .active').removeClass('active');
			$('#paginator-' + index).addClass('active');
		});
		$('.paginator').bind('click', function(e) {
			$('#thecarousel').carousel($(this).index());
		});
	}); 
</script>
{% endblock%}
