{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}

{% block title %}Comptes rendus du Conseil Communautaire du Val d'Yerres Val de Seine{% endblock %}

{% block meta-description %}Les comptes rendus du Conseil Communautaire de la communauté d'agglomération Val d'Yerres Val de Seine{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}



    <div class="container">
    <div class="row-fluid">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="active">Comptes rendus du Conseil Communautaire
                <li>
            </ul>
        </div>
        <div class="col-md-12">
            <h1><a href="{% url 'compterendus' %}">Comptes rendus du Conseil Communautaire</a></h1>
        <ul>
        {% regroup cptrd by date|date:"Y" as objects_by_year %}
            {% for year in objects_by_year %}
                <li>{{ year.grouper }}</li>

                {% for item in year.list %}

                    <div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-{{item.id}}">
										Compte rendu de la scéance du {{item.date}}
									</a>
								</h4>
							</div>
							<div id="collapse-{{item.id}}" class="panel-collapse collapse">
								<div class="panel-body">
									<a href ="{{ item.document.url }}">Téléchargez le compte rendu du {{item.date}} (Format PDF)</a>
                                    {% if item.deliberations %}
                                        <p>Délibérations :
                                        <ul>
                                    {% for delib in item.deliberations %}
                                        <li>{{ delib.titre }} ({{delib.numreference}}) <a href="{{delib.fichier.url}} ">télécharger au format PDF</a></li>
                                    {% endfor %}
                                        </ul></p>
                                    {% endif %}
								</div>
							</div>
						</div>

                    {% endfor %}

            {% endfor %}
        </ul>
        </div>
    </div>
    </div>
{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
{% endblock %}
