{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}Les équipements du Val d'Yerres{% endblock %}
{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}Liste des équipements du Val d'Yerres Val de Seine{% endblock %}

{% block contenu %}
<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li class="active">
					Les équipements Val d'Yerres Val de Seine
				</li>
			</ul>

			<h1><a href="{% url 'equipements.views.EquipementsCarte' %}">Les équipements de l'agglo Val d'Yerres Val de Seine</a></h1>
			
			
			{% regroup equipements by fonction as fonctionlist %}
			<ul>
			{% for func in fonctionlist %}
			
			<li><a href="{% url 'equipements.views.FonctionDetailsHtml' fonction_slug=func.grouper.slug %}">{{func.grouper.pluriel}}</a></li>
				<ul>
					{%for equipement in func.list%}
						<li><a href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug %}">{{equipement.nom}}</a> à {{equipement.ville.nom}}</li>
					{% endfor%} 
				</ul>
			
			{% endfor %}
			</ul>
	
			
			

			<div id="map_canvas" style="width: 1000px; height: 600px"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block jsload%}
	{% include "include/jquery-bootstrap.html" %}

		<script>
			function LoadMap() 
			{
			var tabEquipement = Array();
			{% for equipement in equipements %}
				    		var myMarker = Object(); 
				    		myMarker['longitude'] ={{equipement.longitude|toFloatjs}} ; 
							myMarker['latitude'] ={{equipement.latitude|toFloatjs}}; 	
				    	{% if equipement.image %}
							myMarker['description'] = '<div style="width:250px;height:250px "><div><img class="img-polaroid" alt="{{ equipement.nom }}" src="{{ equipement.image|resize:'250x140x0' }}"/></div><div><p><a href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug %}">{{ equipement.nom }}</a><br  \>{{ equipement.rue }}<br  \>{{ equipement.ville.code_postal }}<br  \>{{ equipement.ville.nom }}</p></div></div>';
						{% else %}
							myMarker['description'] = '<a href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug %}">{{ equipement.nom }}</a><br  \>{{ equipement.rue }}<br  \>{{ equipement.ville.code_postal }}<br  \>{{ equipement.ville.nom }}';
						{% endif %}
							myMarker['marker'] ='{{equipement.fonction.picto}}';
							tabEquipement.push(myMarker);			
			{% endfor %}
					
					
					setMarkers(tabEquipement);
					map_init(13);
			}
			
			$(window).resize(function () {
    			var h =$('#map_canvas').parent().width();
    			$('#map_canvas').css('height', (h*(2/3)));
    			$('#map_canvas').css('width', (h));
				}).resize();
				
				
			
		</script>
		
		{% include "include/maps-ressources.html" %}
{% endblock %}