{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load hoursfilters%}
{% load tz %}

{% block title %} {{tarifs.0.categorie.equipement_fonction.pluriel}}, tarification. {%for item in equipements%}{{item.nom}} à {{item.ville.nom}}{% if forloop.last%}{%else%}, {%endif%}{% endfor %} {% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}{{tarifs.0.categorie.equipement_fonction.pluriel}}, tarification, tarifs. {%for item in equipements%}{{item.nom}} à {{item.ville.nom}}{% if forloop.last%}.{%else%}, {%endif%}{% endfor %}{% endblock %}

{% block contenu %}
{%regroup tarifs by categorie as cat%}

<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="{% url 'equipements-carte' %}">Les équipements</a>
				</li>
				<li>
					<a href="{% url 'fonction-details-html' fonction_slug=tarifs.0.categorie.equipement_fonction.slug %}">{{tarifs.0.categorie.equipement_fonction.pluriel}}</a>
				</li>
				<li class="active">
					Tarif{{tarifs|pluralize}}
				</li>
			</ul>
		</div>
		<div class="col-md-12">
			<h1><a href="{% url 'equipement-fonction-tarifs' equipement_fonction_slug=tarifs.0.categorie.equipement_fonction.slug  %}">{{tarifs.0.categorie.equipement_fonction.pluriel}} : tarif{{tarifs|pluralize}}</a></h1>
			<hr/>
		</div>
		<div class="col-md-7">
			{%for each in cat%}
			<h2>{{each.grouper}}</h2>
            <p>Ce tarif concerne l{{nb_equipements|pluralize:"’,es"}} équipement{{ nb_equipements|pluralize }} suivant : {% for equipement in equipements %} <a href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug%}">{{equipement.nom }}</a>{% if forloop.last %}.{% else %},{% endif %} {% endfor %}</p>
			<table class="table table-striped" align="center">
				<thead>
					<tr>
						<th></th>
						<th>Résidents</th>
						<th>Non-Résidents</th>
					</tr>
				</thead>
				{% for item in each.list %}
				<tr>
					<td>{{item.designation}}
					<br/>
					<small>{{item.info_additionelle}}</small></td>
					<td>{{item.prix_residents|monnaie}}</td>
					<td>{{item.prix_non_residents|monnaie}}</td>
				</tr>
				{% endfor %}
			
			</table>
			{% endfor %}

		</div>

    <div class="col-md-7">
    <hr/>
			{%for each in equipements_specifiques%}
			<h2>{{each.equipement.nom}}</h2>
            <p>Ce tarif concerne uniquement l'équipement suivant : <a href="{% url 'equipement-details' fonction_slug=each.equipement.fonction.slug equipement_slug=each.equipement.slug%}">{{each.equipement.nom }}</a>.</p>
			<table class="table table-striped" align="center">
				<thead>
					<tr>
						<th></th>
						<th>Résidents</th>
						<th>Non-Résidents</th>
					</tr>
				</thead>
				{% for item in each.tarifs %}
				<tr>
					<td>{{item.designation}}
					<br/>
					<small>{{item.info_additionelle}}</small></td>
					<td>{{item.prix_residents|monnaie}}</td>
					<td>{{item.prix_non_residents|monnaie}}</td>
				</tr>
				{% endfor %}

			</table>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}
{% block jsload%}
{% include "include/jquery-bootstrap.html" %}

{% endblock%}