{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load hoursfilters%}
{% load tz %}

{% block title %}Tarification des équipements du Val d'Yerres Val de Seine{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}Tarification des équipements du Val d'Yerres Val de Seine{% endblock %}

{% block contenu %}
<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="{% url 'equipements-carte' %}">Les équipements Val d'Yerres Val de Seine</a>
				</li>
				<li class="active">
					<a href="{% url 'equipements.views.EquipementTarifs' %}">Tarifs</a>
				</li>
			</ul>
		</div>
		{% for fonction in fonctions %}
		<div class="col-md-12">
			<h1><a href="{% url 'fonction-details-html' fonction_slug=fonction.fonction.slug %}">{{fonction.fonction.pluriel}}</a></h1>
			<hr/>
		</div>
		<div class="col-md-7">
            {%regroup fonction.tarif_generiques by categorie as cat%}
			{%for each in cat%}
			{% if each.list.0.categorie.equipement_fonction.slug == fonction.fonction.slug %}
			<h2>{{each.grouper}}</h2>
            <p>Ces tarifs concerne l{{fonction.nb_equipements_generiques|pluralize:"’,es"}} équipement{{ fonction.nb_equipements_generiques|pluralize }} suivant : {% for equipement in fonction.equipements_generiques %} <a href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug%}">{{equipement.nom }}</a>{% if forloop.last %}.{% else %},{% endif %} {% endfor %}</p>
			<table class="table table-striped" align="center">
				<thead>
					<tr>
						<th></th>
						<th>Résidents</th>
						<th>Non-Résidents</th>
					</tr>
				</thead>
				{% for item in each.list %}
				<tr>
					<td>{{item.designation}}
					<br/>
					<small>{{item.info_additionelle}}</small></td>
					<td>{{item.prix_residents|monnaie}}</td>
					<td>{{item.prix_non_residents|monnaie}}</td>
				</tr>
				{% endfor %}
			
			</table>
			{% endif %}
			{% endfor %}

		</div>
        {% for equipement in fonction.equipements_specifiques %}
        <div class="col-md-7">

			<h2>{{equipement.equipement.nom }}</h2>
            <p>Ces tarifs concerne l’équipement suivant : <a href="{% url 'equipement-details' fonction_slug=equipement.equipement.fonction.slug equipement_slug=equipement.equipement.slug%}">{{equipement.equipement.nom }}</a></p>
			<table class="table table-striped" align="center">
				<thead>
					<tr>
						<th></th>
						<th>Résidents</th>
						<th>Non-Résidents</th>
					</tr>
				</thead>
				{% for item in equipement.tarifs %}
				<tr>
					<td>{{item.designation}}
					<br/>
					<small>{{item.info_additionelle}}</small></td>
					<td>{{item.prix_residents|monnaie}}</td>
					<td>{{item.prix_non_residents|monnaie}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
        {% endfor %}
    {% endfor %}
	</div>
</div>
{% endblock %}
{% block jsload%}
{% include "include/jquery-bootstrap.html" %}

{% endblock%}