{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load hoursfilters%}
{% load tz %}
	
	{% block title %} {{equipement.nom}}{% endblock %}
	{% block meta-description %}{{ equipement.nom }}, {{equipement.meta_description}}, {% if evenements %}événements à venir: {% for item in evenements|slice:":4" %} {{item.type.nom}} «{{item.nom}}»{% if forloop.last%}. {% else %}, {%endif%}{% endfor %}{% endif %}{{ equipement.fonction.nom }}, {{equipement.ville.nom }}.{% endblock %}
	
	{% block menu %}{% getmenu %}{% endblock %}
	
	
	


{% block contenu %}	
<div itemscope itemtype="{{equipement.fonction.schema_url}}" class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="{% url 'equipements-carte' %}">Les équipements Val d'Yerres Val de Seine</a>
				</li>
				<li>
					<a href="{% url 'fonction-details-html' fonction_slug=equipement.fonction.slug %}">{{ equipement.fonction.pluriel }}</a>
				</li>
				<li class="active">
					{{ equipement.nom}} , {{equipement.ville.nom }}
				</li>
			</ul>
		</div>
		<div class="col-md-8" >

			<h1><a itemprop="url" href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug%}"><span itemprop="name">{{ equipement.nom }}</span></a></h1>
			{% if equipement.image %}
			<img  itemprop="image" class="img-polaroid-fix"  alt="{{ equipement.nom }}" src="{{ equipement.image|resize:'670x375x1' }}">
			{% endif %}
			{% if equipement.fonction.service %}
			<p>
				Cet équipement est géré par le service <a href="{% url 'service-detail' service_slug=equipement.fonction.service.slug %}">{{equipement.fonction.service.nom}}</a>.
			</p>
			{% endif %}
			{{ equipement.presentation|safe }}
		</div>
		<div class="col-md-4">

			<br/>
			{% if equipement.fonction.logo %}
			<img alt="logo : {{equipement.fonction.nom}}" src="{{equipement.fonction.logo.url}}" style="float:left;margin-right:15px;" />
			{% endif %}
			<address>
				<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<strong>{{ equipement.nom }}</strong>
					<br/>
					<span itemprop="streetAddress">{{equipement.rue}}</span>
					<br/>
					<span itemprop="postalCode">{{equipement.ville.code_postal}}</span> <span itemprop="addressLocality">{{ equipement.ville.nom }}</span>
					<br/>
                    </div>
					{% if equipement.telephone %}
					<abbr title="Téléphone">Tel</abbr>: <span itemprop="telephone">{{equipement.telephone}}</span>
					<br/>
					{% endif %}

					{% if equipement.fax %}
					<p>
						Fax : {{equipement.fax}}
					</p>
					{% endif %}

					{% if equipement.email %}
					<p>
						Courriel : <a href="mailto:{{equipement.email}}">{{equipement.email}}</a>
					</p>
					{% endif %}
					{% if equipement.url %}
					<p>
						Site Web : <a href="{{equipement.url}}">{{equipement.nom}}</a>
					</p>
					{% endif %}

			</address>
			<hr/>
			<div style="text-align: center;">
				<a class="btn btn-primary" href="{% url 'equipement-vcf' slug=equipement.slug %}">Ajouter cet équipement à vos contacts <b>(Vcard)</b></a>
				<br \><br \>
				{{"vcard"|aide}}
			</div>
			<hr class="hidden-phone" />
			<div class="hidden-phone" style="text-align: center;">

				Ajouter cet équipement à vos contacts
				<br/>
				(Format QR Code) :
				<br/>
				<img alt="QrCode : code QR de : {{ each.nom }}" src="data:image/png;base64,{{ qr_code_vcard }}"/>
				{{"qr-code"|aide}}
			</div>
			<hr \>
			<div style="text-align: right;">
				{% if alerte %}
					{% include 'equipements/alertes/widget-with-js.html' %}
				{% endif %}
			</div>

		</div>

	</div>
	
	{% if horaires %}
	<div class="row-fluid">
		<div class="col-md-8">
			<hr/>
			<h2>Horaires:</h2>
			<h3>Aujourd'hui :</h3>
			<table class="table table-striped" align="center">
				<tr>
					<td><b>{%nom_jour_aujourdhui%}</b></td>
					<td>
						<ul>
							{% for horaire in horaires %}

								<li> {{horaire.nom}} : <b>{{horaire|horaires_aujourdhui}}</b>{{horaire|schema_horaires_aujourdhui | safe}} </li>
							{%endfor%}
						</ul>
					</td>
				</tr>
			</table>
			<h3>Les 7 prochains jours : </h3>
			<table class="table table-striped" align="center">
	    		<thead>
    				<tr>
      					<th>Jour</th>
      					<th>Horaire</th>
      					    				</tr>
  				</thead>
			
				{% for horaires in horaires_plus_7 %}
					<tr>
					<td><b>{{forloop.counter|nom_jour_index}}</b></td>
					<td>
						<ul>
					{% for horaire in horaires %}
					<li>{{horaire.nom}} : <b>{{forloop.parentloop.counter|horaire_journee_timedelta:horaire}}</b>{{forloop.parentloop.counter|schema_horaire_journee_timedelta:horaire|safe}}</li>
					{% endfor %}
						</ul>
					</td>
					</tr>
				{% endfor %}
			</table>
				
				
			
			<br/>
			<p>
				<a href="{% url 'equipement-horaires' equipement_slug=equipement.slug%}">Voir tous les horaires et toutes les périodes</a>
			</p>
		</div>
	</div>
	{%endif%}
	{% if tarifs_principaux %}
	<div class="row-fluid">
		<div class="col-md-8">
			<hr/>
			<h2>Principaux tarifs : </h2>
			<table class="table table-striped" align="center">
	    		<thead>
    				<tr>
      					<th></th>
      					<th>Résidents</th>
      					<th>Non-Résidents</th>
    				</tr>
  				</thead>
  			{% for item in tarifs_principaux %}
  				<tr>
  				<td>{{item.designation}}<br/><small>{{item.info_additionelle}}</small></td>
  				<td>{{item.prix_residents|monnaie}}</td>
  				<td>{{item.prix_non_residents|monnaie}}</td>
  				</tr>
  			{% endfor %}
  			</table>
			<br/>
			<p>
				<a href="{% url 'equipement-fonction-tarifs' equipement_fonction_slug=equipement.fonction.slug %}">Voir tous les tarifs</a>
			</p>
		</div>
		
	</div>
	
	{% endif %}
	{% if evenements %}
	<div class="row-fluid">
		<div class="col-md-8">
			<hr/>
			<h2>Les prochains événements:</h2>
			
				{% regroup evenements by monthyeardebut as eventlist %}
				
				{% for eventmonth in eventlist %}
					<table class=" table table-striped">
					<thead><tr><th>{{eventmonth.grouper|grouperToString}}</th></tr></thead>	
					
					{% for each in eventmonth.list %}
					
					<tr itemscope itemtype="http://schema.org/Event">
						<td>{{ each.type.nom }} : &laquo;
						<a itemprop="url" href="{% url 'event-details' slug=each.cadre_evenement.slug evenement_slug=each.slug %}"><span itemprop="name" >{{ each.nom }}</span></a>&raquo;
						</td>
						<td style="text-align:right;">
						<time itemprop="startDate" content="{{each.debut|dateSEO}}">
						{{ each.debut|dateCustom:each.fin }}
						</time>
                            <span itemprop="location" itemtype="http://schema.org/Place">
                            <span itemprop="url" content="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug%}"></span>
                            <span itemprop="name" content="{{equipement.nom}}"></span>
                                <span itemprop="adress" itemtype="http://schema.org/PostalAdress">
                                    <span itemprop="streetAddress" content="{{ equipement.rue }}"></span>
                                    <span itemprop="addressLocality" content="{{ equipement.ville }}"></span>
                                </span>
                            </span>
						</td>
					</tr>
				{% endfor %}
					</table>
				{% endfor %}
			

		</div>
	</div>
	{% endif %}
	
	{% if facilites %}
	<div class="row-fluid">
		<div class="col-md-8">
			<hr/>
			<h2>Dans cet équipement:</h2>
			<ul>
				{% for facilite in facilites.facilites.all %}
				<li style="margin-top:5px;list-style: none;"><img alt="{{ facilite.nom }}"	title="{{ facilite.nom }}" src="/media/{{ facilite.picto }}"> {{ facilite.nom }}
				{% if facilite.importance < 10 %}
				(<a href="{% url 'facilite-carte' slug=facilite.slug %}">Voir tous</a>)
				{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% endif %}
	
	<div class="row-fluid">

		<div class="col-md-8">
			<hr/>
			<h2>Géolocalisation: <br/><small>{{equipement.rue}}, {{equipement.ville.code_postal}} {{equipement.ville.nom}}</small></h2>

			<div id="map_canvas" style="text-align:center;margin-left:auto;margin-right:auto;"></div>

		</div>
		<div style="text-align:center;" class="col-md-4" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
			<hr/>
			<p>
				 Les coordonnées GPS : 
				 <br/>
				Latitude : {{equipement.latitude}}
				<br/>
				Longitude : {{equipement.longitude}}
			</p>
			<meta itemprop="latitude" content="{{equipement.latitude}}" />
			<meta itemprop="longitude" content="{{equipement.longitude}}" />
			<hr/>
			<p class="hidden-phone" style="text-align: center;">
				 Les coordonnées GPS :
				<br/>
				(Format QR Code)
				<br/>
				<img alt="QrCode : {{ each.nom }}" src="data:image/png;base64,{{ qr_code_geo }}"/>
			</p>
			<p>	
				<ul style="list-style:none;">
				<li><a class="btn btn-primary" href="http://www.openstreetmap.org/index.html?mlat={{equipement.latitude|toFloatjs}}&mlon={{equipement.longitude|toFloatjs}}&zoom=18"> Voir l'emplacement sur OpenstreetMap</a></li>
				<li>&nbsp;</li>
				<li><a class="btn btn-primary" href="http://maps.google.com/?q={{equipement.latitude|toFloatjs}},{{equipement.longitude|toFloatjs}}&z=19"> Voir l'emplacement sur Google Maps</a></li>
				</ul>
			</p>
		</div>

	</div>
	

</div>


</div>
{% endblock %}

	{% block jsload%}
	{% include "include/jquery-bootstrap.html" %}
    {% include "include/alertes.html" %}

	<script>
			function LoadMap() 
			{
					var tabEquipement = Array();
					var myMarker = Object(); 
				    myMarker['longitude'] ={{equipement.longitude|toFloatjs}}; 
					myMarker['latitude'] ={{equipement.latitude|toFloatjs}}; 
					myMarker['description'] = '{{equipement.nom}}';
					myMarker['marker'] ='{{equipement.fonction.picto }}';
					tabEquipement.push(myMarker);
					setMarkers(tabEquipement);
					map_init();
			}
			
			$(window).resize(function () {
    			var h =$('#map_canvas').parent().width();
    			$('#map_canvas').css('height', (h));
    			$('#map_canvas').css('width', (h));
				}).resize();		


			$(document).ready(function() 
			{
				if (getXMLHttpRequest() != null && document.getElementById('lienAjax') && document.getElementById('lienPost'))
				{
					document.getElementById('lienAjax').style.display = "";
					document.getElementById('lienPost').style.display = "none";
					
					setCSRFToken();
				}
			}); 
		</script>
        {% include "include/maps-ressources.html" %}


	{% endblock %}