{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}Les équipements du Val d'Yerres Val de Seine{% endblock %}
{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}Liste des facilités et service en Val d'Yerres Val de Seine : {% for item in facilite_geo%}{{item.nom}}{% if forloop.last %}.{% else %}, {%endif%}{%endfor%}{% endblock %}

{% block contenu %}
<div class="container">

	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>

				<li>
					<a href="{% url 'equipements-carte' %}">Les équipements Val d'Yerres Val de Seine</a>
				</li>

				<li class="active">
					Facilités et services
				</li>
			</ul>

			<h1><a href="{% url 'equipements-carte' %}">Facilités et services</a></h1>

			{% regroup facilites by equipement.fonction as fonctionlist %}
			
			<h2>Sur le territoire :</h2>
			<ul>
			{% for item in facilite_geo%}
				<li><a href="{% url 'facilite-carte' slug=item.slug %}">{{item.nom}} (voir sur une carte)</a></li>
			{% endfor %}
			</ul>
			<h2>Dans les équipements :</h2>
			{%for item in fonctionlist%}
			<h3>{{item.grouper.pluriel}} :</h3>
			<ul>
				{%for equip in item.list%}
				
				<li>
					<a href="{{equip.equipement.get_absolute_url}}">{{equip.equipement.nom}}</a> - {{equip.equipement.ville.nom}}
					<ul>
						{%for facilite in equip.facilites.all%}
							<li>{{facilite.nom}} </li> 
						{%endfor%}
					</ul>
				</li>

				{%endfor%}
			</ul>
			{%endfor%}

		</div>
	</div>
</div>

{% endblock %}

{% block jsload%}
{% include "include/jquery-bootstrap.html" %}

{% endblock %}