{% load tz %}{% load filtres %}BEGIN:VCALENDAR
BEGIN:VEVENT
SUMMARY:{{ seance.film.titre|safe }}
DTSTART:{{ seance.date_debut|dateFormat }}
{% if seance.date_debut != seance.date_fin %}DTEND:{{ seance.date_fin|dateFormat }}
{% endif %}LOCATION:«{{ seance.cinema.nom|safe }}», {{seance.cinema.rue|safe}}, {{seance.cinema.ville.code_postal|safe}}  {{seance.cinema.ville.nom|safe}}
DESCRIPTION: Projection du film {{ seance.film.titre|safe }}{%if seance.format %}({{seance.format}}){%endif%}{%if seance.version_vo %}{%ifnotequal seance.version_lang "Français" %} en VO ({{seance.version_lang}}){%endifnotequal%}{%endif%}
GEO:{{seance.cinema.latitude|toFloatjs}};{{seance.cinema.longitude|toFloatjs}}
END:VEVENT
END:VCALENDAR