{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}L'agenda du Val d'Yerres {%if orgaslug != "tous" %} les événements organisés par {% for item in orgalist %}{% if orgaslug == item.slug %}{{item.nom}}, {% endif %}{% endfor %}{%endif%}{% if period == "toutes" %}toutes périodes{% elif period == "cette-semaine" %}cette semaine{% elif period == "ce-week-end" %}ce week end{% elif period == "ce-mois" %}ce mois{%endif%}{% if typeslug == "tous" %}, tout type d'événements, {%else%} {% for item in typeslist %}{% if typeslug == item.slug %}, événement{{evenements|pluralize}} de type : {{item.nom}}{% endif %}{% endfor %}{% endif %}{% endblock %}

{% block meta-description %}Agenda des spectacles et événements organisé par le Val d'Yerres et ses partenaires : {% if period == "toutes" %}toutes périodes{%endif%}{% if period == "cette-semaine" %}cette semaine{%endif%}{% if typeslug == "tous" %}, tout type d'événements, {%else%}{% for item in typeslist %}{% if typeslug == item.slug %}, événement{{evenements|pluralize}} de type : {{item.nom}}{% endif %}{% endfor %}{% endif %}{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}



<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
					<li><a href="/">Accueil</a></li>
					<li class="active">Agenda<li>
			</ul>
		</div>
		<div class="col-md-12">
				<h1>Les événements à venir : </h1>

			<div class="row-fluid">
				<div class="col-md-6">
					<ul class="nav nav-tabs">
						<li {% if period == "toutes" %} class="active"{%endif%}>
							<a href="{% url 'agenda-type-period-orga' type_slug=typeslug period="toutes" orga_slug=orgaslug %}">Toutes périodes </a>
						</li>
						<li {% if period == "cette-semaine" %} class="active"{%endif%} >
							<a href="{% url 'agenda-type-period-orga' type_slug=typeslug period="cette-semaine" orga_slug=orgaslug %}">Cette semaine</a>
						</li>
						<li {% if period == "ce-week-end" %} class="active" {%endif%} >
							<a href="{% url 'agenda-type-period-orga' type_slug=typeslug period="ce-week-end" orga_slug=orgaslug %}">Ce week-end</a>
						</li>
						<li {% if period == "ce-mois" %}class="active"{%endif%} >
							
							<a href="{% url 'agenda-type-period-orga' type_slug=typeslug period="ce-mois" orga_slug=orgaslug %}">Ce mois</a>
						</li>
					</ul>
					<div style="border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;">
						{% if flash %}
						    <div class="alert alert-error">
						    	<p>
						    		{{flash|safe}}
						    	</p>
						    </div>
						{% endif%}
						
						{% regroup evenements by monthyeardebut as eventlist %}

						{% for eventmonth in eventlist %}
						{% if not forloop.first %} <hr style="=margin-top: 0px;" />{% endif%}
						<h3 style="text-align: center;margin-top: 0px;{% if forloop.first %}padding-top:15px;{% endif%} ">{{eventmonth.grouper|grouperToString}}</h3>
						<table class="table  table-striped">
							{% for evenement in eventmonth.list %}
							<tr>
								<td><img alt="image de l'événement : {{evenement.nom}}" class="img-responsive" src="{{evenement.image|resize:'100x100x1'}}"></td>
								<td><a href="{% url 'evenements.views.EvenementDetailsHtml' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}"><strong>{{evenement.nom}}</strong></a>
								<p>
									Type : {{evenement.type}}.
									<br/>
									Date : {{ evenement.debut|dateCustom:evenement.fin }} .
									<br/>
									Lieu : {{evenement.lieu.nom}}, {{evenement.lieu.ville.nom}}. 
								</p>
								<p style="text-align:right;">
									<a href="{% url 'evenements.views.EvenementDetailsHtml' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}" class="btn btn-primary" >+ d'infos</a>
								</p></td>

							</tr>
							{% endfor %}
						</table>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-4 col-md-offset-1">
					<div>
						{{dictargs|calendarexportlinklist|safe}}
		
						{{"ical"|aide}}
					</div>
				</div>
				<div class="col-md-4 col-md-offset-1 well">
					Voir les événements :
					<ul class="nav nav-tabs nav-stacked">

						<li class="nav-header">
							<h4>Par type</h4>
						</li>
						{% for item in typeslist %}
						<li {% if typeslug == item.slug %}class="active"{%endif%} >
							<a href="{% url 'agenda-type-period-orga' type_slug=item.slug period=period  orga_slug=orgaslug %}" >{{item.nom}}</a>
						</li>
						{% endfor %}
						<li class="divider"></li>
						<li {% if typeslug == "tous" %}class="active"{%endif%} >
							<a href="{% url 'agenda-type-period-orga' type_slug="tous" period=period orga_slug=orgaslug %}">Tous types d'événements</a>
						</li>
						<li class="divider"></li>
						<li class="nav-header">
							<h4>Par Organisateur :</h4>
						</li>
						{% for item in orgalist %}
						<li {% if orgaslug == item.slug %}class="active"{%endif%} >
							<a href="{% url 'agenda-type-period-orga' type_slug=typeslug period=period orga_slug=item.slug %}" >{{item.nom}}</a>
						</li>
						{% endfor %}
						<li class="divider"></li>
						<li {% if orgaslug == "tous" %}class="active"{%endif%} >
							<a href="{% url 'agenda-type-period-orga' type_slug=typeslug period=period orga_slug="tous" %}">Tous les organisateurs</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock %}

{% block jsload%}
{% include "include/jquery-bootstrap.html" %}
{% endblock%}
