{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}


{% block title %}{{organisateur.nom}}{% endblock %}


{% block meta-description %}{{ organisateur.meta_description }}{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}

<div itemscope itemtype="http://schema.org/Organization" class="container">
	<div  class="row-fluid">
			<div class="col-md-12">
			<ul class="breadcrumb">
					<li><a href="/">Accueil</a></li> 

					<li><a href="{% url 'agenda-global' %}">Agenda</a></li>
					<li><a href="">Organisateurs</a></li>
					<li class="active">{{ organisateur.nom }}</li> 
						
			</ul>	
			</div>	
			<div class="col-md-8">
				
				
				
				<h1 itemprop="name"><a itemprop="url" href="{% url 'organisateur_html' organisateur_slug=organisateur.slug %}">{{ organisateur.nom }}</a></h1>
				
				
				{% if organisateur.logo %}
				<img class="img-responsive" alt="{{ organisateur.nom }}" src="{{ organisateur.logo|resize:'670x375x1' }}">
				{% endif %}
	
					<div itemprop="description">
						{{ organisateur.description|safe }}
					</div>
				
				{% if organisateur.url != "" %}
				<p>
					Plus d'informations sur ce site : <a href="{{ organisateur.url }}">{{organisateur.nom}}</a>
				</p>
				{% endif %}
				
			</div>
			<div class="col-md-4">
				<br/>
				<address>
					<div itemprop="location" itemscope itemtype="http://schema.org/Place">
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								
								<strong>{{ organisateur.nom }}</strong><br/>
								<span itemprop="streetAddress" >{{ organisateur.rue }}</span><br/>
								<span>{{ organisateur.ville.code_postal }}</span> <span itemprop="addressLocality" >{{ organisateur.ville.nom }}</span><br/>
								<span><abbr title="Téléphone">Tel</abbr>: {{ organisateur.telephone }}</span><br/>

					</div>
					</div>
				</address>
				<hr/>
		<p style="text-align: center;">
				<a href="{% url 'organisateur_vcf' organisateur_slug=organisateur.slug %}">Ajouter cet organisateur à vos contacts</a>
				
				<br/>
				(Format Vcard)
				{{"vcard"|aide}}
		</p>
		<hr class="hidden-phone" />
		    <p class="hidden-phone" style="text-align: center;">   
		    	Ajouter cet organisateur à vos contacts : <br/>(Format QR Code) : <br/>
					<img alt="QR Code represetant la Vcard de : {{ organisateur.nom }}" src="data:image/png;base64,{{ organisateur_qr }}"/>
					<br/>
					{{"qr-code"|aide}}
			</p>
		</div>
	
	</div>
	
</div>

{% endblock %}


{% block jsload%}

{% include "include/jquery-bootstrap.html" %}

{% endblock%}
