BEGIN:VCARD
VERSION:3.0
SOURCE:{{settings.NOM_DOMAINE }}{% url 'organisateur_vcf' organisateur_slug=organisateur.slug %}
NAME:{{ organisateur.nom }}
N:;;;;
FN;LANGUAGE=fr;CHARSET=utf-8:{{ organisateur.nom|safe }}
ORG;CHARSET=utf-8:{{settings.NOM_ORGANISATION|safe  }}
URL:{{settings.NOM_DOMAINE }}{% url 'organisateur_html' organisateur_slug=organisateur.slug  %}
EMAIL:{% if organisateur.email %}{{ organisateur.email }}{% else %}{{ settings.MAIL_ORGANISATION }}{% endif %}
ADR;LANGUAGE=fr;CHARSET=utf-8:;;{{ organisateur.rue }};{{ organisateur.ville.code_postal }};;{{ organisateur.ville.nom }}; 
TEL:{{ organisateur.telephone }}

END:VCARD