{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}

{% block title %}Les élus du Val d'Yerres Val de Seine{% endblock %}

{% block meta-description %}Les élus de la communauté d'agglomération Val d'Yerres Val de Seine dans l'Essonne{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}



    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li class="active">Vos élus
                    <li>
                </ul>
            </div>
            <div class="col-md-12">
                <h1>Vos élus </h1>
                {% for fonction in elusst %}
                    <h3>Le{{fonction.listeelus|length|pluralize }}
                        {% with fonction.mandat.nom|splitwords as parts %}
                            {% for word in parts %}
                                {{ word }}{{ fonction.listeelus|length|pluralize }}
                            {% endfor %}
                            </h3>
                        {% endwith %}
                    <table class="table  table-striped">
                        {% for elu in fonction.listeelus %}
                            <tr>
                                <td><img alt="photo de {{ elu.nom }} {{ elu.prenom }}" class="img-responsive"
                                         src="{{ elu.photo |resize:'100x100x1' }}"></td>
                                <td>{{ elu.nom }} {{ elu.prenom }}</td>
                                <td>
                                    <p>
                                        {% for titre in elu.mandatagglo_set.all %}
                                            {{ titre.nom }}<br>

                                        {% endfor %}
                                        {% for titre in elu.titrehorsagglo_set.all %}
                                            {{ titre.nom }}<br>

                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}

                {% regroup elusnd by ville.nom as villes_list %}

                <h2>Les conseillers communautaires</h2>
                {% for ville in villes_list %}
                    <h3>{{ ville.grouper }}</h3>
                    <table class="table  table-striped">
                        {% for elu in ville.list %}
                            <tr>
                                <td><img alt="photo de {{ elu.nom }} {{ elu.prenom }}" class="img-responsive"
                                         src="{{ elu.photo |resize:'100x100x1' }}"></td>
                                <td>{{ elu.nom }} {{ elu.prenom }}</td>
                                <td>
                                    <p>
                                        {% for titre in elu.mandatagglo_set.all %}
                                            {{ titre.nom }}<br>

                                        {% endfor %}
                                        {% for titre in elu.titrehorsagglo_set.all %}
                                            {{ titre.nom }}<br>

                                        {% endfor %}
                                    </p>
                                </td>


                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
                </table>

            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
{% endblock %}
