{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}
	{% block meta-description %}Liste des {{ fonction.nom }} du Val d'Yerres{% endblock %}
		
{% block contenu %}


	{% if equipements %}
	
		<h1><a href="{% url equipements.views.CarteEquipements %}">Les équipements du Val d'yerres</a></h1>
		
		<h2><a href="{% url equipements.views.FonctionDetailsHtml fonction_slug=fonction.slug %}">{{ fonction.pluriel }}</a></h2>
		<script>
				var tabEquipement = Array();
			{% for equipement in equipements %}
				    		var my{{forloop.counter0}}Marker = Object(); 
				    		my{{forloop.counter0}}Marker['longitude'] ={{equipement.longitude|toFloatjs}} ; 
							my{{forloop.counter0}}Marker['latitude'] ={{equipement.latitude|toFloatjs}}; 	
				    	{% if equipement.image %}
							my{{forloop.counter0}}Marker['description'] = '<div style="float: left;"><img alt="{{ equipement.nom_lieu }}" src="{{ equipement.image|resize:'75x75x0' }}"/></div><div style="width:250px;"><a href="{% url equipements.views.EquipementsDetailsHtml fonction_slug=fonction.slug equipement_slug=equipement.slug %}">{{ equipement.nom_lieu }}</a><br  \>{{ equipement.rue }}<br  \>{{ equipement.ville.code_postal }}<br  \>{{ equipement.ville.nom }}</div>'; 
						{% else %}
							my{{forloop.counter0}}Marker['description'] = '<a href="{% url equipements.views.EquipementsDetailsHtml fonction_slug=fonction.slug equipement_slug=equipement.slug %}">{{ equipement.nom_lieu }}</a><br  \>{{ equipement.rue }}<br  \>{{ equipement.ville.code_postal }}<br  \>{{ equipement.ville.nom }}'; 
						{% endif %}
							my{{forloop.counter0}}Marker['marker'] ='{{fonction.picto}}';
							tabEquipement.push(my{{forloop.counter0}}Marker);			
			{% endfor %}
		</script>
	    <ul>
			{% for equipement in equipements %}
			<li><a href="{% url equipements.views.EquipementsDetailsHtml fonction_slug=fonction.slug equipement_slug=equipement.slug %}">{{ equipement.nom_lieu }}</a></li>
			{% endfor %}
		</ul>
		<div id="map_canvas" style="width:1000px; height:600px"></div>
	    
	{% else %}
	    <p>Aucune Saison Culturelle trouvée.</p>
	{% endif %}
	
{% endblock %}

{% block jsload %}
		<script>
		function LoadMap() 
		{
			setMarkers(tabEquipement);
			map_init(13);
		}			
		</script>
		<script src="/static/js/openstreetmap/OpenLayers.js"></script>
		<script src="/static/js/openstreetmap/lib/OpenLayers/Lang/fr.js"></script>
		<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
		<script src="/static/js/map/osm-fonction.js"></script>
	{% endblock %}	