
{% extends "include/main.html" %}
	
	{% block meta-description %}{{ equipement.fonction.nom }} {{ equipement.nom_lieu }}{% endblock %}

{% block import%}

	 <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}
{% load filtres %}
{% block contenu %}
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Le Val d'Yerres</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Accueil</a></li>
              <li><a href="#about">A propos</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
 <div class="container">



	
	
	{% if equipement %}
		
		<div class="row">
		<div class="span5" itemscope itemtype="http://schema.org/Place">
			<a href="{% url equipements.views.CarteEquipements %}">Les équipements du Val d'yerres</a>
			<h1 itemprop="name"><a href="{% url equipements.views.EquipementsDetailsHtml fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug%}">{{ equipement.nom_lieu }}</a></h1>
			{% if equipement.image %}
			<img alt="{{ equipement.nom_lieu }}" src="{{ equipement.image|thumbnail:'512x300x1' }}">
			{% endif %}
			Type d'équipement : <a href="{% url equipements.views.FonctionDetailsHtml fonction_slug=equipement.fonction.slug %}">{{ equipement.fonction.nom }}</a>
			
			{{ equipement.presentation|safe }}
			
			{% if facilites %}
				<ul>
				    {% for facilite in facilites.facilites.all %}
				    	<li><img alt="{{ facilite.nom }}"	title="{{ facilite.nom }}" src="/media/{{ facilite.picto }}"> {{ facilite.nom }}</li>
				    {% endfor %}
			    </ul>
		    {% endif %}
		   </div>
		   <div class="span4">
		    <img alt="QrCode : {{ each.nom_lieu }}" src="data:image/png;base64,{{ qr_code_vcard }}"/>
		    <br \>
		    <a href="{% url equipements.views.EquipementVCF slug=equipement.slug %}">Télécharger la Vcard de l'équipement</a>
		    </div>
		   </div>
		    <hr />
			
			<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<p itemprop="addressLocality">Ville : {{ equipement.ville.nom }}</p>
				<p>Adresse : {{ equipement.rue }}</p>
				<p>Code Postal : {{ equipement.ville.code_postal }}</p>
			</div>
			
			<div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
				<p>Latitude : {{ equipement.latitude }} - Longitude : {{ equipement.longitude }}</p>
			    <meta itemprop="latitude" content="{{ equipement.latitude }}" />
			    <meta itemprop="longitude" content="{{ equipement.longitude }}" />
			</div>
			<p>Téléphone : {{ equipement.telephone }}</p>
			
			{% if equipement.fax %}
				<p>Fax : {{ equipement.fax }}</p>
			{% endif %}
			
			{% if equipement. %}
				<p>Mail : {{ equipement.mail }}</p>
			{% endif %}
			
			<img alt="QrCode : {{ each.nom_lieu }}" src="data:image/png;base64,{{ qr_code_geo }}"/>
			<script>
			function LoadMap() 
			{
					var tabEquipement = Array();
					var myMarker = Object(); 
				    myMarker['longitude'] ={{equipement.longitude|toFloatjs}}; 
					myMarker['latitude'] ={{equipement.latitude|toFloatjs}}; 
					myMarker['description'] = '{{equipement.nom_lieu}}';
					myMarker['marker'] ='{{equipement.fonction.picto }}';
					tabEquipement.push(myMarker);
					setMarkers(tabEquipement);
					map_init();
			}
				
					
			</script>
		    
		    <div id="map_canvas" style="width: 512px; height: 450px"></div>
		    
		    {% if Evenements %}
		    	<ul>
		    		{% for each in Evenements %}
		    			<li>{{ each.type.nom }} : <a href="{% url evenements.views.EvenementDetailsHtml slug=each.cadre_evenement.slug evenement_slug=each.slug %}">{{ each.nom }}</a></li>
		    		{% endfor %}
		    	</ul>
		    {% endif %}
		      
		</div>
	{% else %}
	    <p>Erreur interne.</p>
	{% endif %}
	
{% endblock %}

{% block jsload%}
		<script src="/static/bootstrap/js/bootstrap.js"> </script>
		<script src="/static/js/openstreetmap/OpenLayers.js"></script>
		<script src="/static/js/openstreetmap/lib/OpenLayers/Lang/fr.js"></script>
		<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
		<script src="/static/js/map/osm-fonction.js"></script>
	{% endblock %}