{% extends "include/main.html" %}
	
	{% block meta-description %}{{ equipement.fonction.nom }} {{ equipement.nom_lieu }}{% endblock %}
		
	{% block import %}
		<script src="/static/js/openstreetmap/OpenLayers.js"></script>
		<script src="/static/js/openstreetmap/lib/OpenLayers/Lang/fr.js"></script>
		<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
		<script src="/static/js/map/osm-fonction.js"></script>
	{% endblock %}	

	{% block bodyLoad %}<body onload="map_init(13);">{% endblock %}	
		
{% block contenu %}

{% load filtres %}

	<h1><a href="{% url equipements.views.CarteEquipements %}">Les équipements du Val d'yerres</a></h1>
	
	{% if equipement %}
		{% if equipement.image %}
			<img alt="{{ equipement.nom_lieu }}" src="{{ equipement.image|thumbnail:'512x300x1' }}">
		{% endif %}
		<div itemscope itemtype="http://schema.org/Place">
			<h2 itemprop="name"><a href="{% url equipements.views.EquipementsDetailsHtml fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug%}">{{ equipement.nom_lieu }}</a></h2>
			
			Type d'équipement : <a href="{% url equipements.views.FonctionDetailsHtml fonction_slug=equipement.fonction.slug %}">{{ equipement.fonction.nom }}</a>
			
			{{ equipement.presentation|safe }}
			
			{% if facilites %}
				<ul>
				    {% for facilite in facilites.facilites.all %}
				    	<li></li><img alt="{{ facilite.nom }}"	title="{{ facilite.nom }}" src="/media/{{ facilite.picto }}"> {{ facilite.nom }}</li>
				    {% endfor %}
			    </ul>
		    {% endif %}
		    
		    <hr />
			
			<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<p itemprop="addressLocality">Ville : {{ equipement.ville.nom }}</p>
				<p>Adresse : {{ equipement.rue }}</p>
				<p>code Postal : {{ equipement.ville.code_postal }}</p>
			</div>
			
			<div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
				<p>Latitude : {{ equipement.latitude }} - Longitude : {{ equipement.longitude }}</p>
			    <meta itemprop="latitude" content="{{ equipement.latitude }}" />
			    <meta itemprop="longitude" content="{{ equipement.longitude }}" />
			</div>
			<p>Téléphone : {{ equipement.telephone }}</p>
			
			{% if equipement.fax %}
				<p>Fax : {{ equipement.fax }}</p>
			{% endif %}
			
			{% if equipement. %}
				<p>Mail : {{ equipement.mail }}</p>
			{% endif %}
			
			<img alt="QrCode : {{ each.nom_lieu }}" src="data:image/png;base64,{{ qrcode }}"/>
			
			<script>
				nouveauMarker({{ equipement.longitude|toFloatjs }}, {{ equipement.latitude|toFloatjs }}, '{{ equipement.nom_lieu }}', '{{ equipement.fonction.picto }}'); 
			</script>
		    
		    <div id="map" style="width: 512px; height: 450px"></div>
		    
		    {% if Evenements %}
		    	<ul>
		    		{% for each in Evenements %}
		    			<li>{{ each.type.nom }} : <a href="">{{ each.nom }}</a></li>
		    		{% endfor %}
		    	</ul>
		    {% endif %}
		      
		</div>
	{% else %}
	    <p>Erreur interne.</p>
	{% endif %}
	
{% endblock %}