{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}

{% block title %}Les actualités du Val d'Yerres : page {{ pages.number }} {% endblock %}
{% block meta-description %}Les actualités du Val d'Yerres, page {{ pages.number }} :
    {% for page in pages %}{{ page.titre }} {% if forloop.last %}.{% else %}, {% endif %}{% endfor %} {% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li class="active">
                        Actualités
                    <li>
                </ul>
            </div>


            <div class="col-md-10">
                {% for page in pages|slice:":2" %}
                    <div class="col-md-6">
                        <div class="magazine-news-img">
                            <a href="{% url 'actudetail' actualite_slug=page.slug %}"><img
                                    class="img-responsive" src="{{ page.image|resize:'973x615x1' }}" alt=""></a>
                        </div>
                        <h3>
                            <a href="{% url 'actudetail' actualite_slug=page.slug %}">{{ page.titre|safe }}</a>
                        </h3>
                        <div class="by-author">
                            <span>Publié le {{ page.date_publication|dateSimple }}.</span>
                        </div>
                        <p>{{ page.contenu|resume:220|safe }}</p>
                        <p style="text-align: right;">
                            <a class="btn btn-primary"
                               href="{% url 'actudetail' actualite_slug=page.slug %}">Lire la
                                suite</a>
                        </p>
                    </div>
                {% endfor %}
                <div class="margin-bottom-35">
                    <hr class="hr-md">
                </div>
                {% for page in pages|slice:"2:4" %}
                    <div class="col-md-6">
                        <div class="magazine-news-img">
                            <a href="{% url 'actudetail' actualite_slug=page.slug %}"><img
                                    class="img-responsive" src="{{ page.image|resize:'973x615x1' }}" alt=""></a>
                        </div>
                        <h3>
                            <a href="{% url 'actudetail' actualite_slug=page.slug %}">{{ page.titre|safe }}</a>
                        </h3>
                        <div class="by-author">
                            <span>Publié le {{ page.date_publication|dateSimple }}.</span>
                        </div>
                        <p>{{ page.contenu|resume:220|safe }}</p>
                        <p style="text-align: right;">
                            <a class="btn btn-primary"
                               href="{% url actudetail' actualite_slug=page.slug %}">Lire la
                                suite</a>
                        </p>
                    </div>
                {% endfor %}
                <div class="margin-bottom-35">
                    <hr class="hr-md">
                </div>
                {% for page in pages|slice:"4:6" %}
                    <div class="col-md-6">
                        <div class="magazine-news-img">
                            <a href="{% url 'actudetail' actualite_slug=page.slug %}"><img
                                    class="img-responsive" src="{{ page.image|resize:'973x615x1' }}" alt=""></a>
                        </div>
                        <h3>
                            <a href="{% url 'actudetail' actualite_slug=page.slug %}">{{ page.titre|safe }}</a>
                        </h3>
                        <div class="by-author">
                            <span>Publié le {{ page.date_publication|dateSimple }}.</span>
                        </div>
                        <p>{{ page.contenu|resume:220|safe }}</p>
                        <p style="text-align: right;">
                            <a class="btn btn-primary"
                               href="{% url 'actudetail' actualite_slug=page.slug %}">Lire la
                                suite</a>
                        </p>
                    </div>
                {% endfor %}
                <div class="margin-bottom-35">
                    <hr class="hr-md">
                </div>

            </div>


        </div>
        <div class="text-center">
            <ul class="pagination">
                {% if pages.has_previous %}
                    <li>
                        <a href="?page={{ pages.previous_page_number }}">« précédent</a>
                    </li>
                {% endif %}

                {% if pages.paginator.num_pages > 10 %}
                    {% if pages.number > 1 %}
                        <li class="active">
                            <a href="{% url 'actulist' %}?page=1">1</a>
                        </li>
                        <li class="disabled">
                            <a href=".">...</a>
                        </li>
                    {% endif %}
                    <li class="disabled">
                        <a href="{% url 'actulist' %}?page={{ pages.number }}">{{ pages.number }}</a>
                    </li>
                    {% if pages.number < pages.paginator.num_pages %}
                        <li  class="disabled">
                            <a href=".">...</a>
                        </li>
                        <li>
                            <a href="{% url 'actulist' %}?page={{ pages.paginator.num_pages }}">{{ pages.paginator.num_pages }}</a>
                        </li>
                    {% endif %}

                {% else %}

                    {% for page in pages.paginator.page_range %}

                        {% if pages.number == page %}
                            <li class="active">
                                <a href=".">{{ page }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'actulist' %}?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}

                {% endif %}

                {% if pages.has_next %}
                    <li>
                        <a href="?page={{ pages.next_page_number }}">suivant »</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
{% endblock %}
