{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}

{% block title %}{{ page.titre }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{ page.titre }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.contenu|resume:500|cleanhtml }}" />
<meta property="og:url" content="{{page.get_full_url}}" />
<meta property="og:image" content="{{ page.get_image_full_url }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{page.get_full_url}}">
<meta name="twitter:title" content="{{ page.titre }}">
<meta name="twitter:description" content="{{ page.contenu|resume:500|cleanhtml }}">
<meta name="twitter:image" content="{{ page.get_image_full_url }}" />

{% endblock %}
{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}{{ page.meta_description }}{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{% url 'actulist' %}">Actualités</a></li>
                    <li class="active">{{ page.titre }}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="news-v3 bg-color-white margin-bottom-30">
                {% if page.image %}
                        {% if page.image.width >= page.image.height %}
                            <img class="img-responsive full-width" alt="{{ page.nom }}"
                                 src="{{ page.image|resize:'670x375x1' }}">
                        {% endif %}

                        {% if page.image.height > page.image.width %}
                            <div class="img-responsive full-width" style="text-align: center;">
                                <img alt="{{ page.nom }}" src="{{ page.image|resize:'300x375x1' }}">
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="news-v3-in-sm">
                        <h2><a href="">{{ page.titre }}</a></h2>
                        <p>
                            <small>Publié le {{ page.date_publication|dateSimple }}.</small>
                        </p>
                        {{ page.contenu|safe }}
                        <hr/>
                        {% if documentattache|length > 0 %}

                        {% with total=documentattache|length %}
                            <p>{{ total }} document{{ total|pluralize }} attaché{{ total|pluralize }} :</p>
                            <ul class="">
                                {% for doc in documentattache %}
                                    <li><a href="{{ doc.document.url }}">{{ doc.nom }},
                                        ({{ doc.document.filesize|filesizeformat }}).</a></li>
                                {% endfor %}
                            </ul>
                        {% endwith %}

                {% endif %}
                    </div>
                </div>

            </div>
                <div class="col-md-4">
                    <div class="post margin-bottom-25">
                        <dl class="dl-horizontal">
                            {{ page.get_absolute_url|facebook:page.titre|safe }}
                        </dl>
                        <dl class="dl-horizontal">{{ page.get_absolute_url|twitter:page.titre|safe }}</dl>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
{% endblock %}