{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load cinemasfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load hoursfilters%}
{% load tz %}

{% block title %}{{datepage|queljour|resume:50}} dans le Val d'Yerres :{% if seances|length > 0 %}{% with seancestotal=seances|length %} {{seancestotal}} séance{{seancestotal|pluralize}} de cinéma,{% endwith %}{% endif %}{%if evenements|length > 0%}{{evenements|length}} événement{{evenements|length|pluralize}}{%endif%}{% if equipements|length > 0%}{% with equipementstotal=equipements|length %} {{equipementstotal}} équipement{{equipementstotal|pluralize}} ouvert{{equipementstotal|pluralize}}{%endwith%}{%endif%}{% endblock %}
{% block meta-description %}{{datepage|queljour|resume:50}} dans le Val d'Yerres :{% if seances|length > 0 %}{% with seancestotal=seances|length %} {{seancestotal}} séance{{seancestotal|pluralize}} de cinéma,{% endwith %}{% endif %}{%if evenements|length > 0%}{{evenements|length}} événement{{evenements|length|pluralize}}{%endif%}{% if equipements|length > 0%}{% with equipementstotal=equipements|length %} {{equipementstotal}} équipement{{equipementstotal|pluralize}} ouvert{{equipementstotal|pluralize}}: {%regroup equipements by fonction as fonctions %}{% for item in fonctions %}{{item.grouper.nom}}{% if forloop.last %}.{%else%}, {% endif %} {%endfor%}{%endwith%}{%endif%}{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}



{% block contenu %}
<div class="container">

	<div class="row-fluid">
		 <div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li class="active">
					{{datepage|queljour|safe}} dans l'agglo
				</li>
			</ul>
		</div>

		<div class="col-md-11 hidden-phone" >
			<ul class="pager">
				{% if precedent %}
				<li class="previous">
					<a href="{{precedent}}.html">&larr; {{precedent_date|queljour|safe}}</a>
				</li>
				{% endif %}
				{% if suivant %}
				<li class="next">
					<a href="{{suivant}}.html">{{suivant_date|queljour|safe}} &rarr;</a>
				</li>
				{% endif %}
			</ul>
			<h1>{{datepage|queljour|safe}} dans l'agglo</h1>

			<hr/>
			<h2 id="cinemas">Les séances de cinéma:</h2>
			{% if seances|length > 0 %}
			<table class="table table-striped" align="center">
				<thead>
					<tr>
						<th></th>
						<th>Lieu</th>
						<th>Ville</th>
						<th>{{datepage|queljour|safe}}.</th>

						<th></th>
					</tr>
				</thead>
				{% regroup seances by cinema as screenings %}
				{% for item in screenings%}
				<tr>
					<td><a href="{% url 'cinema' cinema_slug=item.grouper.cinema.slug %}"><img class="img-responsive" src="{{item.grouper.image|resize:'100x100x1'}}"></a></td>
					<td><a href="{% url 'cinema' cinema_slug=item.grouper.cinema.slug %}">{{item.grouper.nom}}</a></td>
					<td>{{item.grouper.ville.nom}}</td>
					<td> {% regroup item.list by film as thefilm %}
					<ul>
						{% for seances in thefilm %}
						<li>
							{{seances.grouper}}:

							{% for seance in seances.list %}
							<a href="{% url 'seanceaddagenda' seance_id=seance.id %}" data-toggle="modal">{{seance.date_debut|quelleheure}}{%if seance.format %} ({{seance.format}}){%endif%}{%if seance.version_vo %}{%ifnotequal seance.version_lang "Français" %} en VO ({{seance.version_lang}}){%endifnotequal%}{%endif%}</a>{% if not forloop.last%},{%else %}.{%endif%}
							{% endfor%}
						</li>

						{% endfor %}
					</ul></td>
				</tr>
				{% endfor %}
			</table>

			{% else %}
			<div class="alert  alert-error">
				<p>
					Désolé.
					<br/>
					Les séances ne nous ont pas encore été communiquées.
				</p>
			</div>

			{% endif%}

			{% if evenements|length > 0 %}
			<hr/>
			<h2 id="evenements">Les événements :</h2>
			<table class="table table-striped" align="center">
				<thead>
					<tr>
						<th></th>
						<th>Lieu</th>
						<th>Ville</th>

						<th>{{datepage|queljour|safe}}.</th>

						<th></th>
					</tr>
				</thead>
				{% for evenement in evenements %}

				<tr>
					<td><a href="{% url 'event-details' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug%}"><img class="img-responsive" src="{{evenement.image|resize:'100x100x1'}}"></a></td>
					<td> {{evenement.lieu.nom}} </td>
					<td>{{evenement.lieu.ville.nom}}</td>
					<td><a href="{% url 'event-details' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug%}">{{evenement.nom}}</a> : {{ evenement.debut|dateCustom:evenement.fin }} </td>
					<td><td><a class="btn  btn-primary" href="{% url 'event-details' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug%}">+&nbsp;d'infos</a></td></td>
				</tr>

				{% endfor %}
			</table>
			{% endif %}
			<hr/>
			<h2 id="equipements">Les équipements ouverts :</h2>
			{%regroup equipements by fonction as fonctions%}

			{% for fonction in fonctions %}
			<h3>{{fonction.grouper.pluriel}} :</h3>
			<table class="table table-striped" align="center">
				<thead>
					<tr>
						<th></th>
						<th>Nom</th>
						<th>Ville</th>
						{% if listhoraires|length != 0 %}
						<th>{{datepage|queljour|safe}}</th>
						{% endif %}
						<th></th>
					</tr>
				</thead>
				{% for equipement in fonction.list %}
				<tr>

					<td><a href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug %}"><img class="img-responsive" alt="{{equipement.nom}}" src="{{ equipement.image|resize:'100x100x0' }}"/></a></td>
					<td><a href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug %}">{{ equipement.nom }}</a></td><td> {{equipement.ville.nom}} </td>

					<td> {% for horaires in listhoraires %}
					{% for horaire in horaires %}

					{% if horaire.equipement.id == equipement.id %}
					<ul>
						<li>
							{{horaire.nom}} : {{num_jour|horaires_journee:horaire}} <br>
						</li>

					</ul> {% endif %}

					{%endfor%}
					{% endfor %} </td>

					<td><a class="btn  btn-primary" href="{% url 'equipement-details' fonction_slug=equipement.fonction.slug equipement_slug=equipement.slug %}">+&nbsp;d'infos</a></td>
				</tr>
				{%endfor%}
			</table>

			{% endfor %}
			<ul class="pager">
				{% if precedent %}
				<li class="previous">
					<a href="{{precedent}}.html">&larr; {{precedent_date|queljour|safe}}</a>
				</li>
				{% endif %}
				{% if suivant %}
				<li class="next">
					<a href="{{suivant}}.html">{{suivant_date|queljour|safe}} &rarr;</a>
				</li>
				{% endif %}
			</ul>
		</div>

	</div>

</div>

{% endblock %}

{% block jsload%}
{% include "include/jquery-bootstrap.html" %}

<script>
	$(document).ready(function() {
		// Support for AJAX loaded modal window.
		// Focuses on first input textbox after it loads the window.
		$('[data-toggle="modal"]').click(function(e) {
			e.preventDefault();
			var url = $(this).attr('href');
			if (url.indexOf('#') == 0) {
				$(url).modal('open');
			} else {
				$.get(url, function(data) {
					$('<div class="modal hide">' + data + '</div>').modal();
				}).success(function() {
					$('input:text:visible:first').focus();
				});
			}
		});

	});

</script>
{% endblock %}