{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}
{% load staticfiles %}


{% block meta-description %}Le site de la Communauté d'Agglomération du Val d'Yerres Val de Seine VYVS dans le
    département de l'Essonne{% endblock %}


{% block contenu %}
    <div class="container content">
        <div class="row magazine-page">
            <!-- Begin Content -->
            <div class="col-md-9">
                <div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">

                    <div class="carousel-inner">
                        {% for item in carroussel %}
                            <div class="item {% if forloop.first %}active{% endif %}">
                                <img alt="" src="{{ item.image|resize:'847x400x1' }}">
                                <div class="carousel-caption">
                                    <h2><a style="color:white;" href="{{ item.get_absolute_url }}">{{ item.titre }}</a></h2>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="carousel-arrow">
                        <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="magazine-news">
                    <div class="row">
                        {% for page in actualites|slice:":2" %}
                        <div class="col-md-6">
                            <div class="magazine-news-img">
                                <a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug   %}"><img class="img-responsive" src="{{page.image|resize:'973x615x1'}}" alt=""></a>
                            </div>
                            <h3><a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug   %}">{{ page.titre|safe }}</a></h3>
                            <div class="by-author">
                                <span>Publié le {{page.date_publication|dateSimple}}.</span>
                            </div>
                            <p>{{page.contenu|resume:220|safe}}</p>
                            <p style="text-align: right;" >
							<a class="btn btn-primary" href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug   %}">Lire la suite</a>
						</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            <div class="margin-bottom-35"><hr class="hr-md"></div>
             <div class="magazine-news">
                    <div class="row">
                        {% for page in actualites|slice:"2:4" %}
                        <div class="col-md-6">
                            <div class="magazine-news-img">
                                <a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug   %}"><img class="img-responsive" src="{{page.image|resize:'973x615x1'}}" alt=""></a>
                            </div>
                            <h3><a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug   %}">{{ page.titre|safe }}</a></h3>
                            <div class="by-author">
                                <span>Publié le {{page.date_publication|dateSimple}}.</span>
                            </div>
                            <p>{{page.contenu|resume:220|safe}}</p>
                            <p style="text-align: right;" >
							<a class="btn btn-primary" href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug   %}">Lire la suite</a>
						</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <!-- Right Sidebar -->
				<div class="col-md-3 magazine-page">
                    {%if evenements_une_lg1%}

                    <!-- Posts -->
					<div class="posts margin-bottom-40">
						<div class="headline headline-md"><h2>Prochains événements</h2></div>
                        {% for evenement in evenements_une_lg1 %}
						<dl class="dl-horizontal">
							<dt><a href="#"><img src="{{evenement.image|resize:'200x200x1'}}" alt="" /></a></dt>
							<dd>
								<p><a href="{% url 'evenements.views.EvenementDetailsHtml' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}">{{evenement.nom|safe}}</a></p>
                                <p><i class="fa fa-calendar"></i> {{ evenement.debut|dateCustom:evenement.fin }}</p>
							</dd>
						</dl>
                    {% endfor %}

					</div><!--/posts-->

                    {% endif %}
                    </div>
        </div>
    </div>
{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
    {% include "include/mailjet.html" %}
    <script>


        $(document).ready(function () {
            App.init();
            StyleSwitcher.initStyleSwitcher();

            if (getXMLHttpRequest() != null) {
                document.getElementById('mailAjax').className = "";
                document.getElementById('mailPost').style.display = "none";
                setCSRFToken();
            }
        });
    </script>
{% endblock %}