{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters %}
{% load tz %}
{% load staticfiles %}


{% block meta-description %}Le site de la Communauté d'Agglomération du Val d'Yerres Val de Seine CAVYVS VYVS dans le
    département de l'Essonne{% endblock %}


{% block contenu %}
    <div class="container content">
        <div class="row magazine-page">
            <!-- Begin Content -->
            <div class="col-md-9">
                <div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">

                    <div class="carousel-inner">
                        {% for item in carroussel %}
                            <div class="item {% if forloop.first %}active{% endif %}">
                                <img alt="" src="{{ item.image|resize:'847x400x1' }}">
                                <div class="carousel-caption">
                                    <h2><a style="color:white;" href="{{ item.get_absolute_url }}">{{ item.titre }}</a>
                                    </h2>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="carousel-arrow">
                        <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="magazine-news">
                    <div class="row">
                        {% for page in actualites|slice:":2" %}
                            <div class="col-md-6">
                                <div class="magazine-news-img">
                                    <a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug %}"><img
                                            class="img-responsive" src="{{ page.image|resize:'400x255x1' }}" alt=""></a>
                                </div>
                                <h3>
                                    <a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug %}">{{ page.titre|safe }}</a>
                                </h3>
                                <div class="by-author">
                                    <span>Publié le {{ page.date_publication|dateSimple }}.</span>
                                </div>
                                <p>{{ page.contenu|resume:220|safe }}</p>
                                <p style="text-align: right;">
                                    <a class="btn btn-primary"
                                       href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug %}">Lire la
                                        suite</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="margin-bottom-35">
                    <hr class="hr-md">
                </div>
                <div class="magazine-news">
                    <div class="row">
                        {% for page in actualites|slice:"2:4" %}
                            <div class="col-md-6">
                                <div class="magazine-news-img">
                                    <a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug %}"><img
                                            class="img-responsive" src="{{ page.image|resize:'400x255x1' }}" alt=""></a>
                                </div>
                                <h3>
                                    <a href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug %}">{{ page.titre|safe }}</a>
                                </h3>
                                <div class="by-author">
                                    <span>Publié le {{ page.date_publication|dateSimple }}.</span>
                                </div>
                                <p>{{ page.contenu|resume:220|safe }}</p>
                                <p style="text-align: right;">
                                    <a class="btn btn-primary"
                                       href="{% url 'editorial.views.ActuDetail' actualite_slug=page.slug %}">Lire la
                                        suite</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <!-- Right Sidebar -->
            <div class="col-md-3 magazine-page">
                <div class="posts margin-bottom-40">
                    <div class="headline headline-md"><h2>Lettre d'informations</h2></div>
                    <div class="row">
                        <ul class="list-unstyled col-md-12">
                        <li style="text-align: center;"><a class="btn btn-primary" href="/mail">S'abonner</a></li>
                        </ul>

                    </div>
                </div>
                <div class="posts margin-bottom-40">
                    <div class="headline headline-md"><h2>Aujourd'hui</h2></div>
                    <div class="row">
                        <ul class="list-unstyled col-md-12">
                            {% if cinema_count > 0 %}
                                <li><a href="{% url 'editorial.views.Ephemeride' %}#cinemas"
                                       class=" circle-btn  ">{{ cinema_count|deuxchiffres }}</a>
                                    <a href="{% url 'editorial.views.Ephemeride' %}#cinemas">séance{{ cinema_count|pluralize }} de cinéma</a></li>
                            {% endif %}
                            {% if evenements_count > 0 %}
                                <li><a href="{% url 'editorial.views.Ephemeride' %}#evenements"
                                       class=" circle-btn  ">{{ evenements_count|deuxchiffres }}</a> <a <a href="{% url 'editorial.views.Ephemeride' %}#evenements">événement{{ evenements_count|pluralize }}</a>
                                </li>
                            {% endif %}
                            {% if equipements_count > 0 %}
                                <li><a href="{% url 'editorial.views.Ephemeride' %}#equipements"
                                       class=" circle-btn ">{{ equipements_count|deuxchiffres }}</a> <a href="{% url 'editorial.views.Ephemeride' %}#equipements">
                                    équipement{{ equipements_count|pluralize }}
                                    ouvert{{ equipements_count|pluralize }}</a></li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
                {% if evenements_une_lg1 %}
                    <!-- Posts -->
                    <div class="posts margin-bottom-40">
                        <div class="headline headline-md"><h2>Prochains événements</h2></div>
                        {% for evenement in evenements_une_lg1 %}
                            <dl class="dl-horizontal">
                                <dt><a href="{% url 'evenements.views.EvenementDetailsHtml' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}"><img src="{{ evenement.image|resize:'200x200x1' }}" alt=""/></a></dt>
                                <dd>
                                    <p>
                                        <a href="{% url 'evenements.views.EvenementDetailsHtml' slug=evenement.cadre_evenement.slug evenement_slug=evenement.slug %}">{{ evenement.nom|safe }}</a>
                                    </p>
                                    <p><i class="fa fa-calendar"></i> {{ evenement.debut|dateCustom:evenement.fin }}</p>
                                </dd>
                            </dl>
                        {% endfor %}
<a class="btn btn-primary" href="{% url 'evenements.views.AgendaGlobal' %}">Voir tous
                                    les événements à venir</a>
                    </div><!--/posts-->
                {% endif %}
                <!-- Posts -->
                <div class="posts margin-bottom-40">
                    <div class="headline headline-md"><h2>Le Magazine</h2></div>

                    <h4><a href="{% url 'editorial.views.Magazines' %}">{{ magazine.date_parution|moisannee }}</a></h4>
                    <a href="{% url 'editorial.views.Magazines' %}"><img class="img-polaroid" style="max-width:90%"
                                                                         src="{{ magazine.image|resize:'225x300x1' }}"
                                                                         alt="{{ magazine.titre|safe }}"></a>
                    <p>
                        Dossier : {{ magazine.titre|safe }}
                    </p>
                </div>
                <!--/posts-->
                {% if annoncesemploi %}
                    <div class="posts margin-bottom-40">
                        <div class="headline headline-md"><h2>Emploi</h2></div>
                        {% regroup annoncesemploi by service as annonceslists %}
                        <div class="row">
                            <ul class="list-unstyled col-md-12">
                                {% for annonces in annonceslists %}
                                    <li>
                                        <a href="{% url 'annoncesemploi.views.AnnoncesListService' service_slug=annonces.grouper.slug %}"
                                           class="circle-btn">{{ annonces.list|length|deuxchiffres }}</a><a
                                            href="{% url 'annoncesemploi.views.AnnoncesListService' service_slug=annonces.grouper.slug %}">
                                        annonce{{ annonces.list|length|pluralize }} {{ annonces.grouper }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block jsload %}
    {% include "include/jquery-bootstrap.html" %}
    {% include "include/mailjet.html" %}
    <script>
        $(document).ready(function () {
            App.init();
            StyleSwitcher.initStyleSwitcher();

            if (getXMLHttpRequest() != null) {
                document.getElementById('mailAjax').className = "";
                document.getElementById('mailPost').style.display = "none";
                setCSRFToken();
            }
        });
    </script>
{% endblock %}