{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}Le magazine : page {{page}} {% endblock %}
{% block meta-description %}Le magazine du Val d'Yerres:{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}

<div class="container"">

	<div  class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li class="active">
					Le magazine du Val d'Yerres
				<li>
			</ul>
		</div>

		<div class="col-md-11">

			<h1><a href="{% url 'editorial.views.Magazines'  %}">Le magazine du Val d'Yerres:</a></h1>

				
				<br/>
				{% for magazine in magazines %}
				<div class="row  bkgd-white">
					<div class="col-md-4"><img class="img-polaroid" src="{{magazine.image|resize:'225x300x1'}}">
					</div>
					<div class="col-md-5">

						<h2>{{magazine.date_parution|moisannee}}</h2>
						<p>
							Dossier : <strong>{{magazine.titre}}</strong>
							<br/>

							Téléchargez : <a href="{{magazine.document.url}}">Le magazine du Val d'Yerres ({{magazine.date_parution|moisannee|lower}}) au format PDF ({{magazine.document.filesize|filesizeformat}})</a>
						</p>
					</div>
				</div>
				<br/>
				
				<br/>
				{% endfor %}


		</div>
        <div class="text-center">
            <ul class="pagination">
                {% if magazines.has_previous %}
                    <li>
                        <a href="?page={{ magazines.previous_page_number }}">« précédent</a>
                    </li>
                {% endif %}

                {% if magazines.paginator.num_magazines > 10 %}
                    {% if magazines.number > 1 %}
                        <li class="active">
                            <a href="{% url 'editorial.views.Magazines' %}?page=1">1</a>
                        </li>
                        <li class="disabled">
                            <a href=".">...</a>
                        </li>
                    {% endif %}
                    <li class="disabled">
                        <a href="{% url 'editorial.views.Magazines' %}?page={{ magazines.number }}">{{ magazines.number }}</a>
                    </li>
                    {% if magazines.number < magazines.paginator.num_magazines %}
                        <li  class="disabled">
                            <a href=".">...</a>
                        </li>
                        <li>
                            <a href="{% url 'editorial.views.Magazines' %}?page={{ magazines.paginator.num_magazines }}">{{ magazines.paginator.num_magazines }}</a>
                        </li>
                    {% endif %}

                {% else %}

                    {% for page in magazines.paginator.page_range %}

                        {% if magazines.number == page %}
                            <li class="active">
                                <a href=".">{{ page }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'editorial.views.Magazines' %}?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}

                {% endif %}

                {% if magazines.has_next %}
                    <li>
                        <a href="?page={{ magazines.next_page_number }}">suivant »</a>
                    </li>
                {% endif %}
            </ul>
        </div>
	</div>
</div>

{% endblock%}

{% block jsload%}

{% include "include/jquery-bootstrap.html" %}

{% endblock%}