{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %}Rapports d'activité : page {{ page }}{% endblock %}
{% block meta-description %}Les rapports d'activité du Val d'Yerres Val de Seine{% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block contenu %}

<div class="container">

	<div  class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li class="active">Les rapports d'activité</li>
			</ul>
		</div>

		<div class="col-md-11">

			<h1><a href="{% url 'rapports'  %}">Les rapports d'activité</a></h1>
			<div class="col-md-11">
				
				<br/>
				{% for rapport in rapports %}
				<div class="row bkgd-white">
					<div class="col-md-4"><img class="img-polaroid" src="{{rapport.image|resize:'225x300x1'}}">
					</div>
					<div class="col-md-6">

						<h2>{{rapport.titre}}</h2>
						<p>

							Téléchargez : <a href="{{rapport.document.url}}">Le rapport d'activité({{rapport.date_parution|annee|lower}}) au format PDF ({{rapport.document.filesize|filesizeformat}})</a>
						</p>
					</div>
				</div>
				<br/>
				<hr>
				<br/>
				{% endfor %}

			</div>
		</div>
        <div class="text-center">
            <ul class="pagination">
                {% if rapports.has_previous %}
                    <li>
                        <a href="?page={{ rapports.previous_page_number }}">« précédent</a>
                    </li>
                {% endif %}

                {% if rapports.paginator.num_rapports > 10 %}
                    {% if rapports.number > 1 %}
                        <li class="active">
                            <a href="{% url 'rapports' %}?page=1">1</a>
                        </li>
                        <li class="disabled">
                            <a href=".">...</a>
                        </li>
                    {% endif %}
                    <li class="disabled">
                        <a href="{% url 'rapports' %}?page={{ rapports.number }}">{{ rapports.number }}</a>
                    </li>
                    {% if rapports.number < rapports.paginator.num_rapports %}
                        <li  class="disabled">
                            <a href=".">...</a>
                        </li>
                        <li>
                            <a href="{% url 'rapports' %}?page={{ rapports.paginator.num_rapports }}">{{ rapports.paginator.num_rapports }}</a>
                        </li>
                    {% endif %}

                {% else %}

                    {% for page in rapports.paginator.page_range %}

                        {% if rapports.number == page %}
                            <li class="active">
                                <a href=".">{{ page }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'rapports' %}?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}

                {% endif %}

                {% if rapports.has_next %}
                    <li>
                        <a href="?page={{ rapports.next_page_number }}">suivant »</a>
                    </li>
                {% endif %}
            </ul>
        </div>
	</div>
</div>

{% endblock%}

{% block jsload%}

{% include "include/jquery-bootstrap.html" %}

{% endblock%}