{% extends "include/main.html" %}
{% load filtres %}
{% load aidefilters %}
{% load eventfilters %}
{% load menufilters %}
{% load aidefilters%}
{% load tz %}

{% block title %} Les annonces emploi du Val d'Yerres {% endblock %}

{% block menu %}{% getmenu %}{% endblock %}

{% block meta-description %}{{page.meta_description}}{% endblock %}

{% block contenu %}
<div class="container" style="margin-top:60px;">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/">Accueil</a>

				</li>
				<li>
					<span class="divider">/</span>
				</li>
				<li class="active">
					Les annonces emploi du Val d'Yerres</a>
				</li>
			</ul>
		</div>
		<div class="span11">
			<h1><a href="">Les annonces emploi du Val d'Yerres</a></h1>
			
			{% if message %}
			<div class="alert alert-error">
						    	<p>
						    		{{message|safe}}
						    	</p>
						    </div>
			
			
			{% else %}
			<div class="span7">
				{% for page in pages %}
				<div class="row bkgd-white">

					<h2><a href="{% url annoncesemploi.views.AnnonceDetail annonce_slug=page.slug   %}">{{page.intitule}}</a></h2>
					<p>
						Proposé par : <a href="{{page.service.get_absolute_url}}">{{page.service.nom}}</a>
					</p>

					{{page.description_du_poste|resume:400|safe}}

					<p style="text-align: right;" >
						<a class = "btn btn-primary" href="{% url annoncesemploi.views.AnnonceDetail annonce_slug=page.slug   %}">+ d'infos</a>
					</p>

				</div>
				<br/>
				
				<br/>
				{% endfor %}

			</div>
			
		</div>
		<div class="span12">
			<div class="pagination pagination-large pagination-centered">
				<ul>
					{% if pages.has_previous %}
					<li>
						<a href="?page={{ rapports.previous_page_number }}">« précédent</a>
					</li>
					{% endif %}

					{%if pages.paginator.num_pages > 10 %}
					{%if pages.number > 1%}
					<li class="enabled">
						<a href="{% url annoncesemploi.views.AnnoncesList  %}?page=1">1</a>
					</li>
					<li class="disabled">
						<a href=".">...</a>
					</li>
					{%endif%}
					<li class="disabled">
						<a href="{% url annoncesemploi.views.AnnoncesList  %}?page={{pages.number}}">{{pages.number}}</a>
					</li>
					{%if pages.number < pages.paginator.num_pages%}
					<li class="disabled">
						<a href=".">...</a>
					</li>
					<li class="enabled">
						<a href="{% url annoncesemploi.views.AnnoncesList  %}?page={{pages.paginator.num_pages}}">{{pages.paginator.num_pages}}</a>
					</li>
					{%endif%}

					{% else %}

					{% for page in pages.paginator.page_range %}

					{% if pages.number == page %}
					<li class="disabled">
						<a href=".">{{page}}</a>
					</li>
					{% else %}
					<li class="enabled">
						<a href="{% url annoncesemploi.views.AnnoncesList  %}?page={{page}}">{{page}}</a>
					</li>
					{% endif %}

					{%endfor%}

					{%endif%}

					{% if pages.has_next %}
					<li>
						<a href="?page={{ pages.next_page_number }}">suivant »</a>
					</li>
					{% endif %}

				</ul>
			</div>

		</div>
		{% endif %}
	</div>

</div>

{% endblock %}

{% block jsload%}
<script src="/static/js/jquery/jquery-1.8.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
{% endblock %}