{% extends "include/main.html" %}

{% load menufilters %}
		{% block title %} {{service.nom}}{% endblock %}

	{% block menu %}{% getmenu %}{% endblock %}
	
	{% block meta-description %}{{service.meta_description}}{% endblock %}
	
{% block contenu %}	
<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href="/">Accueil</a></li>
				<li><a href="{% url 'services' %}">Services</a></li>
				<li class="active">
					{{service.nom}}
				</li>
			</ul>
		</div>
		<div class="col-md-12">
		<h1><a href="{% url 'service-detail' service_slug=service.slug %}">{{ service.nom }}</a></h1>
		
		</div>
		<div class="col-md-8">
			{{service.description|safe}}
			
		</div>
		{% if pages_liees|length > 0 %}
		<div class="col-md-4">
		<ul class="nav nav-tabs nav-stacked">
			{% for page in pages_liees %}
			<li><a href="{% url 'page-contenu' service_slug=service.slug page_slug=page.slug %}">{{page.titre}}</a> </li>
			{% endfor %}
			
		</ul>

		</div>
		{%endif%}
		{% if nb_annonces > 0 %}
		<div class="col-md-4">
		<hr/>
		<p>
		Il y a {{nb_annonces}} annonce{{nb_annonces|pluralize}} emploi publié{{nb_annonces|pluralize:"es"}} par le service «{{service.nom}}»:
		</p>
		<p style="text-align:right;" >
		<a class="btn btn-primary" href="{% url 'annoncesemploi.views.AnnoncesListService' service_slug=service.slug %}">Voir l{{nb_annonces|pluralize:"',es"}} annonce{{nb_annonces|pluralize}}</a>
		</p>
		<hr/>
		</div>
		{% endif%}
		
		{% if equipements|length > 0 %}
		<div class="col-md-4">
		{% with total=equipements|length%}
		<h4>Ce service gère {{total}} équipement{{total|pluralize}}:</h4>
		<ul class="nav nav-tabs nav-stacked">
			{% for equipement in equipements %}
			<li><a href="{{equipement.get_absolute_url}}">{{equipement.nom}}, {{equipement.ville}}.</a> </li>
			{% endfor %}	
		</ul>
		{% endwith %}
		</div>
		{% endif %}

	</div>

</div>
</div>
{% endblock %}

	{% block jsload%}
	{% include "include/jquery-bootstrap.html" %}

	{% endblock %}